[2019-01-03 00:39] chris-morgan opened #221 "Inline spread syntax where possible"
**Bug report or Feature request?**
Feature request

**Version (complete output of `terser -V`)**
terser 3.14.0

**Complete CLI command or `minify()` options used**
`terser --compress --module input.js`

**`terser` input**

[code]

**`terser` output or error** [line breaks added for clarity]
[code]

**Expected result**
[code]

----

The enabled/disabled feature case is realistic; we have several su

[2019-01-03 13:33] Bauke opened #223 "Terser removes JSDoc comments even with @preserve or @license"
**Bug report or Feature request?**

Bug

**Version (complete output of `terser -V`)**

`terser 3.14.0`

**Complete CLI command or `minify()` options used**

CLI

`npx terser src/index.js -o dist/index.js` (didn't install globally)

`src/index.js`:

[code]

`dist/index.js`:

[code]

**Expected result**

According to the docs in the README: `By default [...], keeping JSDoc-style comments that contai

[2019-01-03 19:59] fabiosantoscode commented on #219
A quick look at uglifyJS's git repo shows me that this has never worked.

[2019-01-03 21:56] #219 closed

[2019-01-04 00:45] fabiosantoscode commented on #219
Released as `v3.14.1`

[2019-01-04 00:47] #221 closed

[2019-01-04 00:51] fabiosantoscode commented on #220
If the input doesn't change, then the names shouldn't change either. The names are based on the strings that are around them. If this is actually totally random even if the file doesn't change, let me know so I can reopen the issue. Thanks!

[2019-01-04 00:51] #220 closed

[2019-01-04 01:35] Mann90 opened #225 "Properties in the argument were mangled"
**Bug report or Feature request?**

Bug

**Version (complete output of `terser -V`)**
3.14.1

**Complete CLI command or `minify()` options used**

terser --compress --mangle --mangle-props -- test.js

**`terser` input**
foo({name: 'jane', age: 10});

**`terser` output or error**
foo({name:"jane",o:10});

**Expected result**
foo({name:"jane",age:10});

[2019-01-04 03:34] Mann90 opened #227 "Static properties not mangled"
**Bug report or Feature request?**
Bug.

**Version (complete output of `terser -V`)**
3.14.1

**Complete CLI command or `minify()` options used**

terser --compress --mangle --mangle-props -- test.js

**`terser` input**
class Foo{};Foo.Event={red: 1,blue: 2};

**`terser` output or error**
class Foo{}Foo.Event={red:1,blue:2};

**Expected result**
class Foo{}Foo.a={red:1,blue:2};

[2019-01-04 04:21] chris-morgan commented on #217
After looking through what Prepack does and how it works, I don’t believe that this will work out or achieve what you hope for.

Terser works with symbolic analysis of the code. To take as an example my recently-landed patch to inline spread where possible (#224): Terser now knows that `[a, ...[b, c], d]` is equivalent to `[a, b, c, d]`, and so can perform that optimisation *anywhere*.

But Prepac

[2019-01-04 10:19] nifgraup commented on #201
@fabiosantoscode  I hadn't had a look at tern.js, thanks for the pointer. The documentation barely touches upon type declarations, seems like it is mostly about inferring types. It's good to get a (compilation) error when something is `AST_Node | undefined` when you assume it to be `AST_Node`.

[2019-01-04 12:55] nifgraup commented on #211
fixed in #222

[2019-01-04 12:55] #211 closed

[2019-01-04 19:12] fabiosantoscode commented on #217
I don't believe prepack is going to break us in any way, and if it does happen, then you should immediately open an issue. When given Math.random() prepack assumes an abstract value and doesn't execute any further than knowing that either of those is going to be the value. But of course, you will be able to turn off  prepack at will using an option.

[2019-01-04 19:33] fabiosantoscode commented on #227
This also fails:

`function foo(){var Foo={};Foo.Event={red:1,blue:2}}`

[2019-01-04 23:51] VikramTiwari opened #229 "Cannot read property 'name' of undefined"
Seems similar to #120

Error trace
[code]

[2019-01-05 02:32] fabiosantoscode commented on #229
Can you provide a reduced test case, in the minimal amount of javascript that will reproduce the issue?

[2019-01-05 14:56] getify commented on #216
This should be an option at minimum, because I definitely wouldn't want this sort of transform on my code. It changes the error stack if an exception occurs inside the loop, by adding a function call. Especially since I can't name the function that would be used (I'm guessing it would be an anonymous function, maybe an arrow?), that error stack will be more confusing.

[2019-01-05 16:39] fabiosantoscode commented on #216
@getify given a source map, it will point you to the correct line number. Is that still a problem?

[2019-01-05 16:41] fabiosantoscode commented on #201
tern.js is all about giving you warnings in the editor when the type is not going to work anymore (so it doesn't disencourage duck typing), not compilation errors. But I guess you could install it in your webpack or rollup and have your compilation errors.

[2019-01-05 16:41] fabiosantoscode commented on #201
And probably there's a CLI that exits 1 when the types don't make sense, and if there isn't, send a PR :)

[2019-01-05 16:46] fabiosantoscode opened #230 "Investigate why uglifying already uglified code is slow."
The purpose here is to first find out whether it affects the compress option "passes". It would be bad if as you added passes it would be slower than the first pass even though we're dealing with less code.

If that is the case, then the task at hand is to find out what options cause this. Even if it's not the case, I think finding ways to make terser faster in corner cases might help with people

[2019-01-05 16:53] huozhi commented on #216
variable `foo` may be a array-like object, which doesn't extends full prototype from `Array`. transform for-loop to forEach may break code.

[2019-01-06 15:07] getify commented on #216
@fabiosantoscode

1. I think I recall that the error stack still reports the actual function calls, not a fabricated call-stack as it would have been in the original code.

2. I often run code in environments where I won't benefit at all from sourcemaps, such as simple node command-line call (not with node debugger or even chrome devtools remoting). I can handle mangled function calls and even mes

[2019-01-06 15:45] getify commented on #216
Actually, it doesn't even need to be as exotic as a NodeList, it might just be a regular object with (some) numeric indexing:

[code]

[2019-01-06 15:49] getify commented on #216
Of course, you could make the transform be:

[code]

But I still would object to this (at least without it being behind an option) based on my other remarks.

[2019-01-06 17:20] fabiosantoscode commented on #200
Could you write a PR @pygy ? Just add an option to turn it on and add it to lib/index ;)

[2019-01-07 22:38] thorn0 commented on #192
@fabiosantoscode  Still broken.
[code]

[2019-01-08 21:02] dennisss opened #233 "Original prop name colliding with mangled prop name in earlier file is ignored"
**Bug report**
The title of this issue is probably confusing along with the below description, so just look at the example code.

Mangling props for multiple files results in an inconsistent output when the mangled name chosen automatically for a property collides with an existing unmangled property name.

In the below example, the property `i` is specifically chosen as it is one of the first prop

[2019-01-10 19:31] fabiosantoscode commented on #216
It would do the unsafe method safely if it can verify it's an array (by checking the variable's definition), and use the safe method otherwise.

And of course there will be an option for it! Good idea :)

[2019-01-11 14:22] jquense opened #235 "Support browserlist or more fine grained feature opt in for ecma version"
Hey folks Thanks a ton for the work happening here. I've got a feature request/docs clarification. It would be really great to have some more understanding what exactly happens when setting the compress/output `ecma` version. I understand broadly that it leverages newer language features to create smaller code, but it's not always unclear which features.

The reason this is relevant is, as you pro

[2019-01-12 01:39] LongTengDao opened #236 "Why there is one more dependency `source-map-support` in `terser` than `uglify`?"
**Bug report or Feature request?**

Question.

**Version (complete output of `terser -V`)**

3.14.1

**Complete CLI command or `minify()` options used**

**`terser` input**

**`terser` output or error**

**Expected result**

[2019-01-12 02:36] cs09g opened #237 "babel-loader with regex property on mangle doesn't work correctly"
**Bug report or Feature request?**
It looks a bug.

**Version (complete output of `terser -V`)**
latest I guess. it's used by `terser-webpack-plugin` v1.2.1.

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**

**`terser` output or error**
![image](https://user-images.githubusercontent.com/7428017/51020625-760e5400-15c2-11e9-8d42-6b484c20661e.png)
`_setupAndExtendOption

[2019-01-12 05:53] L2jLiga commented on #236
Terser provides minified bundle w/ sourcemap and "one more dependency" is [source-map-support](https://www.npmjs.com/package/source-map-support) package which enable support of sourcemaps in Node.js and provide normal stacktrace in case of errors.

@fabiosantoscode, correct me if I'm wrong.

[2019-01-12 14:50] nifgraup commented on #236
Here is the commit that introduced source-map-support 07e1cb84.

[2019-01-12 16:15] nifgraup commented on #235
(I haven't studied the effect of `ecma` version in Terser, just read docs.)

I propose Terser makes the ecma-level as high as the input allows. The devil is in the details but in general: Terser should compress as much as possible while making sure any browser/JS-VM able run the input can also run the output. This should be default or possibly the `ecma` option could be removed as well. (The optio

[2019-01-12 17:33] LongTengDao commented on #236
I still couldn't understand the use after I read the commit information, I think maybe I should close this issue ahead. Thank you for supplying the information!

[2019-01-12 23:53] fabiosantoscode commented on #237
We really have no way to know what the babel machinery (or any machinery) is doing to create objects and what it uses to get object keys, so we can't fix it, sadly.

It's for stuff like this that there's a warning not to use mangle-props. I suggest you let it go, the code is plenty small without it.

[2019-01-12 23:53] #237 closed

[2019-01-12 23:59] fabiosantoscode commented on #235
@nifgraup the reason we have the `ecma` option is to make sure the output code works in that browser. The reason we do this, is that ES6 code is smaller! We can turn functions into arrow functions for example and have smaller code.

I think it makes sense to use browserslist, but it will take quite some effort to do, for very little benefit. The only transformation we do that turns ES5 code into c

[2019-01-13 01:00] nifgraup commented on #235
@fabiosantoscode it would be really nice if users didn't have to think about the `ecma` option. If the input code uses arrow functions or any feature that was implemented later in browsers, terser should go ahead and enable the function-into-arrow-function transform. Users would rarely need to configure the the `ecma` option.

From the docs I see three cases where ES5 code is turned into a later v

[2019-01-13 02:05] jquense commented on #235
So for some context the issue that brought me here was shorthand properties breaking a site of ours. I think it's fine to not have a full on browserlist integration, but it would be nice to know the minimum supported browsers generally for the various settings

[2019-01-13 23:23] koush opened #238 "Feature request: option to remove whitespace except for newlines."
I looked through the terser options, and there doesn't seem to be a way to specify compress behavior for whitespace.

There's a popular embeddable Javascript engine Duktape: https://github.com/svaarala/duktape

It comes with a debugger that supports line based breakpoints. The debugger works great, except on minified code. Minified code typically removes new lines, so all the code is on a single l

[2019-01-14 10:12] Friksel commented on #196
@fabiosantoscode To this date unfortunetely it I couldn't get mangle to work with any webpack/babel project here. I've tested a lot of different projects. I can't get mangle to work even on projects without any libs being used, so only my code. Common factor though is that I use webpack 4 and babel on each project, so after a lot of testing I can only come to the conclusion Terser somehow at least

[2019-01-14 15:43] focus-at opened #239 "Feature"
advanced minify egg:
var _cl = 'className';
var _on = 'addEventListener';
etc

[2019-01-15 16:12] fabiosantoscode commented on #196
This is to be expected as not all projects are going to work, so there's a warning in the docs.

The question still stands, can you send a minimal code for reproducing this? It can be done in 10 lines or less..

[2019-01-15 16:13] fabiosantoscode commented on #238
Sounds interesting, I'll consider it

[2019-01-15 19:39] fabiosantoscode commented on #239
I thought of doing that, but it causes the code to run slower. It would have to do computed property access all the time...

[2019-01-15 19:39] #239 closed

[2019-01-15 19:45] fabiosantoscode commented on #235
@nigraufp your idea is nice overall, but I'd be happier to have browserslist. But if you think it's easier to implement what you speak of, send a pr ;)

[2019-01-15 22:48] cacheflow commented on #180
Thanks! I'll take a look.

[2019-01-16 11:51] holsdjakne commented on #229
Hi,

I've hit the same error and produced a minimal test case:
[code]

[code]

Running terser without "--compress" works.

[2019-01-16 12:24] focus-at commented on #239
what if do it as an optional flag

[2019-01-16 15:46] fabiosantoscode commented on #229
Great, thanks! I'll isolate the option responsible for the error.

[2019-01-17 11:05] bustawin opened #240 "Bug: Return statement is mixed with previous statement if such statement assigns to a class variable"
Version: 3.14.1
CLI: `terser file.js -c`
Input:
[code]
Output:
[code]
Return should not bee returning `Foo.bar = !0` but only `{foo: Foo...}`:
[code]
Adding another statement (`const x = 1`) between `Foo.bar = false` and the `return` fixes this problem, so maybe the bug is not only for class variable assignments but it definitely is not generic to anything.

PS: Let me take the chance and thank yo

[2019-01-17 13:53] fabiosantoscode commented on #240
This is a consequence of the `sequences` option. You might have noticed the code works just the same. It's just something we do to save bytes, join stuff with the comma operator. `return foo?(alert("ok"),0:1` is a lot smaller than the corresponding if and return.

[2019-01-17 13:53] #240 closed

[2019-01-17 13:53] fabiosantoscode commented on #240
If you don't like it, disable the sequences compress option

[2019-01-17 14:46] Rafal2228 opened #241 "Terser overshadows parent function parameter while inlining function"
**Bug report**

Terser overshadows parent function argument with 'undefined' (var declaration) if the names of arguments are the same. In output code we can see it tries to access properties of object `o` which has just been declared with `var`.

**Version (complete output of `terser -V`)**

npx: installed 5 in 1.585s
terser 3.14.1
undefined

**Complete CLI command or `minify()` options used**

`n

[2019-01-18 09:29] jandolezal71 opened #242 "Mangling issue with AngularJS1"
Hi,

I am migrating from browserify to webpack on my AngularJS project. Everything works fine on development mode, but wrong on production one.

[code]

I am using dependency injection and I am specifically writing '$inject'.

[code]
In production mode console will fill up with errors: `Unknown provider: eProvider <- e <- Modal`.

I tried to switch mangle off and its working properly, but then pac

[2019-01-18 12:34] Friksel commented on #196
@fabiosantoscode I just sent you. I wonder if you even looked at the zips. If you opened the zip file you you would have seen this is the only js source in there:

[code]

As said this got transpiled by webpack/babel to the dist files I send you too that pass through Terser.
There are no libs used, no external sources, nothing complicated here. Just one file with legal javascript and everything in

[2019-01-18 13:51] GrosSacASac opened #243 "Broken patreon link"
To fix replace https://www.patreon.com/terser_jscomp_maintainer
with https://www.patreon.com/terser_ecmacomp_maintainer
in the readme

[2019-01-18 14:15] jandolezal71 commented on #242
This was our issue with $inject plugin afterall :(

[2019-01-18 14:15] #242 closed

[2019-01-18 14:24] jfo84 opened #244 "Inlined function after switch/case not semantically equivalent"
**Bug report or Feature request?**

Bug

**Version (complete output of `terser -V`)**

3.14.1

**Complete CLI command or `minify()` options used**

terser --compress --mangle -- input.js

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

The original code or a semantically equivalent version. The original code has already gone through TerserWebpackPlugin (inter

[2019-01-19 11:57] filipesilva opened #245 "Identifiers for built-in objects are retained with pure_getters"
Note: this is the exact same issue as https://github.com/mishoo/UglifyJS2/issues/3317. I'm reporting it in both places because I am not sure what the policy is for porting fixes from UglifyJS to Terser. If it is enough to be reported there, please close this one.

**Bug report or Feature request?**

I think this is a bug, but it might be working as intended.

**Version (complete output of `terser

[2019-01-19 23:37] GrosSacASac commented on #243
(only in npm readme)

[2019-01-20 13:57] fabiosantoscode commented on #241
My goodness, this looks like a hard bug. I'll try to check why this is happening but it will take a while.

[2019-01-21 13:45] fabiosantoscode commented on #244
Is this the smallest code that produces the bug? Could you please try to make it as minimal as possible?

[2019-01-21 13:47] filipesilva commented on #245
Something similar happens with the following sample as well:
[code]

It gets minified to:
[code]

Under the same assumptions as above, I expected it to be minified to nothing.

[2019-01-21 18:33] jfo84 commented on #244
@fabiosantoscode I can try to generate something smaller this week.

At first glance, it looks like two bugs. This is what would happen if the default case in the switch/case is always assumed to happen. Then, this code is assumed to always evaluate to 0 for all cases:

[code]

[2019-01-23 08:49] Alhadis opened #246 "Enhancement: `new Array(5)` can be mangled into `[,,,,,]`"
As indicated by the title, an `Array` constructor with a non-variable initial length can be more concisely written as a literal with blank elements:

[code]

The limit for this optimisation is 11, where both forms are of equal length:

[code]

As of v3.14.1, Terser isn't doing this, but it probably should.

[2019-01-23 11:38] eltonio450 commented on #204
Hello,

It seems we are facing an issue that looks like this one on CircleCI. I am not sure however which version is affected by the bug and which is not. And it seems related but not 100% sure...

The issue is either (1) a timeout (30 minutes, which occurs only in CircleCI) or (2) an error such as:
[code]
Not sure that 1 and 2 are related however. Behaviour is not deterministic

Disabling terser-

[2019-01-23 12:59] eltonio450 commented on #204
ok, so:

the webpack-terser-plugin automatically enables parallelism and caching. Disabling both fixes the issue on CircleCI if it helps :). Not sure if it's considered as a bug of terser or circleCI

[2019-01-23 14:38] jfo84 commented on #244
After looking at this again, the bug seems to be related to destructuring an object directly returned from a function.

The original code looks like this:
[code]

where `computeEndingArrowDirectionVector` is the above switch/case

[2019-01-24 18:30] fabiosantoscode commented on #233
Thanks for this report and sorry for the delay. I'll look into it! :smile:

[2019-01-29 16:02] bluelovers opened #247 "minimize bug when same varname at diff sub context"
* Operating System:
* Node Version:
* NPM Version:
* webpack Version:
* terser-webpack-plugin Version:

### Expected Behavior

### Actual Behavior

### Code

project
https://github.com/bluelovers/ws-novel-vue

terser config
https://github.com/bluelovers/ws-novel-vue/blob/a4912c6bb8960db0036d06b41a92bc003e220e0a/vue.config.ts#L45-L80
[code]

when var name is `a` will fail at `source = a.join('');`

[2019-01-31 00:01] dep commented on #164
I know this isn't a terser-js issue per se, but @CarterLi did you land on any solutions here? I'm having the same issue.

[2019-01-31 03:34] CarterLi commented on #164
@dep I split large files into smaller chunks

https://webpack.js.org/plugins/split-chunks-plugin/#optimization-splitchunks

[2019-01-31 14:47] dep commented on #164
@CarterLi Thank you so much. This worked!

[2019-02-01 12:39] Lonniebiz opened #249 "Terser Won't Drop Unused Functions Created by Other Functions"
Terser Version: 3.8.1"
Operating System: Ubuntu 16.04.5
Node Version: 10.14.2
NPM Version: 6.70
webpack Version: 4.29
terser-webpack-plugin Version: 1.10
Additional tools: eslint 5.12.1

Issue:
[code]
For example, lets say I have the following file named test.mjs :

[code]

Now, let's say I try to only import the function "mirror" into my index.js file:

[code]

Result:
[code]
Here is the actual c

[2019-02-01 17:05] fabiosantoscode commented on #164
@dep could you provide a minimal example of this crash? Then I can reopen the issue.

[2019-02-01 17:13] dep commented on #164
It ended up being a `node` memory issue, I fixed it by scoping a param in to node for my build job, like so:

`package.json`:
[code]

Leaving that here for posterity.

[2019-02-01 17:46] vladimiry commented on #164
This is not a fix but workaround.

[2019-02-02 15:09] fabiosantoscode commented on #244
Thanks for your comments. So what exactly is a code that can reproduce this? Do you mean that computeEndingArrowDirectionVector is a function that contains all the original code that was posted?

[2019-02-02 15:10] fabiosantoscode commented on #245
Nice catch and examples. I'll have a look now.

[2019-02-02 15:50] fabiosantoscode commented on #245
Published as v3.16.0

[2019-02-02 15:50] fabiosantoscode commented on #245
Thanks for the issue

[2019-02-02 15:50] #245 closed

[2019-02-02 16:19] filipesilva opened #250 "typeof/instanceof comparisons are retained"
**Bug report or Feature request?**

I think this is a bug, but it might be working as intended.

**Version (complete output of `terser -V`)**
3.16.0

**Complete CLI command or `minify()` options used**

`terser test.js --toplevel --compress --mangle`

**`terser` input**
[code]

**`terser` output or error**
Output is
[code]
(Note: I added line breaks for readability, but the output proper did not h

[2019-02-02 17:32] mukeshyadav commented on #120
getting same issue, using CRA2 "react": "^16.5.2",
    "react-dom": "^16.5.2",
    "react-scripts": "^2.0.5"

[2019-02-02 18:04] sodatea opened #251 "`__esModule` is `true` while no default export provided, breaks interoperability"
See:
https://github.com/vuejs/vue-cli/issues/3407
https://github.com/webpack-contrib/terser-webpack-plugin/issues/66

A common way to transpile ES module `import` to CommonJS `require`:
[code]

So this change breaks a lot of downstream packages including [terser-webpack-plugin](https://unpkg.com/terser-webpack-plugin@1.2.1/dist/minify.js)

[2019-02-02 18:13] andresg747 opened #252 "Possible breaking change on recent version released"
**Bug report**

I'm getting **TypeError: Cannot read property 'minify' of undefined** errors on build.

Details on https://github.com/zeit/next.js/issues/6194

Is it possible that the most recent version of terser released 2 hours ago is related to that issue?

Thanks in advance!

### UPDATE
The fix is being addressed [here](https://github.com/terser-js/terser/pull/254).
Meanwhile, if you cannot w

[2019-02-02 18:16] sodatea commented on #252
See https://github.com/terser-js/terser/issues/251

[2019-02-02 18:53] jonryser commented on #251
Yes, this is breaking code I am involved with (trying to do a 911 hotfix deployment on a Saturday morning).
Terser is a dependency of terser-webpack-plugin which in turn is a dependency of webpack.
We don't have any way to fix the version to a version that is working.

[2019-02-02 19:05] carltierney commented on #251
Yes this broke our build as well...

[2019-02-02 20:19] Shmasya opened #253 "ERROR while ng build --prod"
ERROR while ng build --prod

[2019-02-02 20:33] saintsatplay2015 commented on #120
This is an issue when trying to build Ionic 4 production apps - receiving following error message:
`ERROR in common.00974306b5124fe008c9.js from Terser
TypeError: Cannot read property 'minify' of undefined
    at minify (/ionic-pwa/ionic-pwa/node_modules/terser-webpack-plugin/dist/minify.js:175:23)
    at module.exports (/ionic-pwa/node_modules/terser-webpack-plugin/dist/worker.js:13:40)
    at ha

[2019-02-02 20:49] jrjohnson commented on #120
The best way to get started solving this is probably to open a new issue and follow the steps in the comments above to create a reduced test case.

[2019-02-02 21:05] filipesilva commented on #120
There is already an issue for this specific problem: https://github.com/terser-js/terser/issues/251

[2019-02-02 21:50] filipesilva commented on #251
Added a fix in https://github.com/terser-js/terser/pull/254.

[2019-02-02 22:41] rveitch commented on #251
Verified, also causing build issues for us.

[2019-02-02 22:50] hamit-zor commented on #251
I am punching myself about 4 hours because of this problem! I just could not understand asking myself  "IT WAS WORKING JUST 10 MINS AGO WHY IT DOESN'T NOW!" I just figured out it was something with update. Holy god.

[2019-02-02 23:01] hamit-zor commented on #252
Yes, I was playing with some of the configuration and I thought I messed them up, trying to solve this problem about 5 hours. I just figured out it was related to a new update.

[2019-02-02 23:05] hamit-zor commented on #251
Verified, I had same build issues.

[2019-02-03 03:43] Lonniebiz commented on #249
The author of webpack noticed that terser will drop the function if a certain let is change to var. Read this:
https://github.com/webpack/webpack/issues/8692#issuecomment-459683396

[2019-02-03 10:44] MarkusA380 commented on #251
I have literally reset my OS yesterday because of this...

[2019-02-03 11:54] rawzone commented on #253
@AlexKondov can confirm that also fixed my production compilation in a Laravel project using yarn / laravel-mix to compile my assets.

[2019-02-03 15:11] mrmckeb commented on #252
This is also affecting Create React App. See https://github.com/facebook/create-react-app/issues/6334.

[2019-02-03 15:32] jackson- commented on #251
Does anybody know how to fix this with Heroku? I keep getting this error when pushing to server:

`
js/app.f394d862.js from Terser
TypeError: Cannot read property 'minify' of undefined at minify (/tmp/build_e50a34b4bba0c5a074e58791acf9717a/node_modules/terser-webpack-plugin/dist/minify.js:175:23)
`

[2019-02-03 15:49] sagitsofan commented on #251
`npm install terser@3.14` will fix the issue

[2019-02-03 15:50] TrySound commented on #252
@mrmckeb It's [terser-webpack-plugin](https://github.com/webpack-contrib/terser-webpack-plugin) problem. They imported default with interop from the package with potential named exports.

[2019-02-03 15:59] mrmckeb commented on #252
Thanks @TrySound, I'll chase them up.

[2019-02-03 16:59] hamit-zor commented on #251
And I spent my 6 hours just to solve that problem, because I was playing with my configuration and I thought I messed up something serious. I just could figure it out after switching to my notebook and try a simple webpack build. It seriously failed again and then I finally decided to come to github page. The problem is google cannot index that fast so you cant find that error if you try to google

[2019-02-03 17:12] jackson- commented on #251
I tried this and still the same error

[2019-02-03 17:18] sagitsofan commented on #251
Does this package wriiten under your dev packages? Share your build logs..

[2019-02-03 18:11] bdrtsk commented on #251
My Nuxt app now broken and I have no idea how to fix it. But now I know that `tenser` exist! Cool. Had no idea what the hack is it. Nice to meet you `tenser`

[2019-02-03 18:17] TrySound commented on #251
Who uses yarn add this to package.json
[code]

[2019-02-03 20:13] tetreault commented on #251
Another nuxt user reporting in who cannot generate static files due to this error

[2019-02-03 23:17] BuddhiAbeyratne commented on #252
FYI Issue also effects Nuxt
https://github.com/nuxt/nuxt.js/issues/4931

[2019-02-04 03:34] bjornharvold commented on #253
Yes, downgrading to Terser 3.14.1 fixed the issue.

[2019-02-04 03:39] GeekStocks commented on #251
I suggest renaming this package `overly-terse`   ;-P

[2019-02-04 04:33] vladimiry commented on #252
Is not this duplicate of https://github.com/terser-js/terser/issues/251?

It would be terser-webpack-plugin's problem if that would be a v4 terser release, but it's v3.16.0. So it's terser's problem as the change is breaking.

[2019-02-04 07:31] CodeCrusha commented on #253
Same issue here with ng build --prod. "TypeError: Cannot read property 'minify' of undefined" in terser-wepback-plugin

[2019-02-04 10:20] bdrtsk commented on #243
Is there a home address of this person? I want to thank him personally for breaking the web

https://twitter.com/swyx/status/1091959223406084096

![screenshot from 2019-02-04 12-07-50](https://user-images.githubusercontent.com/45076741/52202497-437d1180-2877-11e9-99fa-62f61db7894a.png)

[2019-02-04 10:23] bdrtsk commented on #251
Just to everyone who is waiting for the fix. Package maintainer is alive and well being, but "he just like default exports" (c) so get deal with that everyone.

https://twitter.com/swyx/status/1091959223406084096

![screenshot from 2019-02-04 12-07-50](https://user-images.githubusercontent.com/45076741/52202554-77583700-2877-11e9-9c2c-bc32aa52d277.png)

Nice opportunity to became famous. How many

[2019-02-04 10:46] rkiranchowdhary commented on #251
Is the issue fixed, or what is the timeline?

[2019-02-04 10:51] bdrtsk commented on #251
@rkiranchowdhary it will not be fixed (well, at least looks like until we beg package author, or Hacker News will write about the genius who broke the web). The maintainer "really like default exports", we need to adapt and move on. Don't be like "Mimimi, 2 days without a fix how can you do that?!?!". It will achieve nothing besides that maintainers get sick of such comments, the "community" (thou

[2019-02-04 10:54] Jessidhia commented on #251
Not sure if a public lynching is the right approach here. You're even quoting out of context as he is not talking about JavaScript but about a hobby(?) language he's designing.

At any rate, this refactoring looks perfectly acceptable to me. It _is_ the theoretically correct way to export this module. Well, almost, it's missing a `.mjs` export that is an actual ES module; right now it's just an UM

[2019-02-04 10:57] pedrofurtado commented on #251
@fabiosantoscode Any news about this issue?

[2019-02-04 11:08] bdrtsk commented on #251
@Jessidhia I absolutely don't care how exactly it was refactor and what exports it is using. I care about how author handles issues that aware **whole** webpack ecosystem. Thousands of apps not working, thousands of human hours will be wasted to found the fix. Nothing works, from `create-react-app` to Nuxt and Next.js. Instead of not being egoistical and make compromise with thousands of people pa

[2019-02-04 11:39] Jaid commented on #251
![image](https://user-images.githubusercontent.com/6216144/52206214-d028cf00-2879-11e9-980d-0c9748c224d2.png)

Sounds like it's getting resolved soon. :)

[2019-02-04 11:45] TrySound commented on #251
@bdrtsk It was off topic. That tweet is not about bug. Don't panic.

[2019-02-04 11:54] fabiosantoscode commented on #251
Sorry about those tweets. I thought it was a plugin issue not a terser issue. Fixed in 3.16.1

[2019-02-04 11:54] #251 closed

[2019-02-04 11:54] fabiosantoscode commented on #252
Thanks for the report. Fixed in 3.16.1

[2019-02-04 11:54] #252 closed

[2019-02-04 11:55] manniL commented on #251
@fabiosantoscode Ignore all the haters and keep up the good work ❤️

[2019-02-04 11:55] fabiosantoscode commented on #253
Fixed in 3.16.1. Will add test so it doesn't happen again. Thanks for the issue!

[2019-02-04 11:55] #253 closed

[2019-02-04 11:55] jskidd3 commented on #251
@fabiosantoscode Thanks Fabio! 🤘

[2019-02-04 12:10] sr2ds commented on #251
The 3.16.1 version dont't work with me on `vue-cli-service build`:

[code]

Does anyone still have a problem?

[2019-02-04 13:05] csvan commented on #251
Wow, that escalated quickly...thanks for the fix @fabiosantoscode, sorry you had to take some rage for it.

[2019-02-04 14:51] fabiosantoscode commented on #245
What stays around in this case?

[2019-02-04 15:09] filipesilva commented on #245
Sorry, I had a broken link in the comment above. https://github.com/terser-js/terser/issues/250 is the right issue.

For input
[code]
the output is
[code]

I have a few more examples in https://github.com/terser-js/terser/issues/250.

[2019-02-04 16:07] edingroot commented on #251
@sr2ds Did you remove package-lock.json and run `npm install` again after modifying package.json?
It works for me!

[2019-02-04 16:34] samboylett commented on #251
I removed the terser declaration from my yarn.lock, and did `rm -rf node_modules/terser && yarn install`. It is now working for me (version is on 3.16.1)

Thanks @fabiosantoscode !

[2019-02-04 16:54] thorn0 opened #256 "global hasOwnProperty with unsafe=true is still broken"
**Bug report or Feature request?**

bug

Has been only partially fixed in #192.

**Version (complete output of `terser -V`)**

terser 3.16.1

**Complete CLI command or `minify()` options used**

[code]

[2019-02-04 19:32] ca0v opened #257 "Add "files" option"
**Feature request**

**Version (complete output of `terser -V`)**
3.14.1

**Complete CLI command or `minify()` options used**

{
                files: ["f1.js", "f2.js"]
}

So instead of `terser f1.js f2.js` we can use `terser --config-file cf.json`

[2019-02-04 22:44] fabiosantoscode commented on #257
Nice suggestion.

I think if we're going this way we might as well allow the input of any option in there!

Anyone willing to send a PR?

[2019-02-04 22:59] fabiosantoscode commented on #250
Thanks for this issue. It's a bit low priority though. I think most unused code is wrapped inside an if that can be clearly removed.

[2019-02-05 01:00] rickwebiii opened #258 "Incorrect code generated post-minification when inlining enabled"
**Bug report**

**Version (complete output of `terser -V`)**

3.10.11, via terser-webpack-plugin 1.2.1

**Complete CLI command or `minify()` options used**

We use the default webpack-terser-plugin minification options: https://github.com/terser-js/terser#minify-options

Also repros with default options at https://skalman.github.io/UglifyJS-online/

**`terser` input**
[code]

Simplest way to repro

[2019-02-05 01:13] rickwebiii commented on #258
Changing state to an arrow function seems to work around the issue

[code]

[2019-02-05 10:15] L2jLiga commented on #258
@rickwebiii did you try latest version of Terser? For me it works fine on it

[2019-02-05 19:36] rickwebiii commented on #258
bumping the webpack plugin to 1.2.2 fixed the issue. Here's what it emits now:

[code]

The function state() is now called i and is correctly substituted.

[2019-02-05 19:36] #258 closed

[2019-02-06 05:19] benmccann opened #260 "[Feature] Improved variable joining"
**Feature request**

I would like to suggest a feature that rewrites variable declarations for improved variable joining.

Consider the function below:
[code]

We instead wrote it to declare `mid, i0, i1` at the top of the function near the other variable declarations for improved variable joining (`join_vars` option):
[code]

Our project enforces this coding style to get better minimized output,

[2019-02-06 22:45] #243 closed

[2019-02-07 16:44] jfo84 commented on #244
I haven't been able to reduce it to anything below a one thousand-line dump; the initial post is an excerpt of that where the problem occurred

I question the usefulness of the heuristic in general and think it would be difficult to generate a real test case if you don't have any ideas as to why this is happening, which is concerning on its own

[2019-02-07 23:18] asulta opened #263 "remove empty functions and their calls"
**Feature request / question**

**terser 3.16.1**

[code]

[code]
`node terser.js` produces:
[code]
What I expect is that, since the `logWrapper` fn is empty, both the fn and its calls should be removed from the output.

I've tried (sorry I'm really not informed on this topic) with the compress option `pure_funcs: ['log']` but the output is the same.

[2019-02-08 17:48] fabiosantoscode commented on #263
Can you add a `passes: 3` to compress? I think with another pass or two it should get to it.

[2019-02-08 18:41] asulta commented on #263
Tried with `passes: 3` but I still had no success
[code]
output:
[code]

[2019-02-09 16:43] fabiosantoscode opened #264 "Create Terser website"
Terser has surpassed 2.5M weekly downloads, so I think it would be good to have a website where people can get to know the project!

 [x] Buy the domain terser.org
 [ ] Put the README there using github pages
 [ ] Place docs in website
 [ ] Create a Terser interactive demo with stats including gzip size (use [pako](https://github.com/nodeca/pako) to gzip and just get the length out)

[2019-02-10 04:59] LiraNuna opened #265 "missed optimization: function property unpacked to a variable"
It seems like there's a missed optimization when unpacking a function out of an object - it is assigned to a variable (`const`, `var` or `let` depending on the visibility of the object). It is a missed optimization as that assignment is adding 5 bytes to the output.

**Bug report or Feature request?**

Feature request (missed optimization)

**Version (complete output of `terser -V`)**

```terser 3

[2019-02-12 01:45] L2jLiga commented on #263
Can you add `toplevel: true` to compress? For me it solves this issue

[2019-02-13 15:40] kaizhu256 opened #266 "performance-issue: terser minification is significantly worse than uglifyjs-lite and google-closure-compiler"
i benchmarked minification-performance of google-closure-compiler and terser against a "classic" es5-compiler (uglifyjs-lite).  google-closure-compiler is comparable to es5-compiler, while terser is significantly worse:

[code]
[code]

[2019-02-14 14:48] L2jLiga commented on #266
@kaizhu256, I think this is not honest comparison. At least because in terser compression and mangling disabled by default.

There're my example:
[code]

[2019-02-14 16:04] kaizhu256 commented on #266
thx.  maybe you should enable mangling by default?

[2019-02-14 16:55] #266 closed

[2019-02-15 11:17] songololo commented on #196
I am no expert on Webpack or Terser but I'm wondering about two things that might reduce the occurrence of some of the above issues:

- Is there a simple way to only mangle specific files? (i.e. without turning off minification for other files).
- Is there a way to mangle property names before babel does its thing?

[2019-02-15 21:10] fabiosantoscode commented on #249
Thanks for the issue! I'll have a look and attempt a fix when I have time.

Yes indeed let and const should just work like var whenever possible. In some places that's not done yet.

[2019-02-15 21:13] fabiosantoscode commented on #249
But to help make this clear can you paste in the compiled code resulting from compiling those 2 files?

[2019-02-15 21:21] fabiosantoscode commented on #265
That might break code. Consider this:

[code]

This code gets a `ReferenceError`. If we were to change `const o=function...` into `function o...`, then that wouldn't cause an error. function declarations are always hoisted up to the top of the wrapping function or module.

We could only do this safely if the function is already at the top, or we check what names are being used in the function befo

[2019-02-15 21:21] #265 closed

[2019-02-15 21:22] fabiosantoscode commented on #174
Closing since the Patron has been made and linked to in readme.

[2019-02-15 21:22] #174 closed

[2019-02-15 21:24] fabiosantoscode commented on #246
The Array constructor doesn't get called as often as to make this very worthwhile.

I'm not looking into this but will accept a PR.

[2019-02-15 21:24] #246 closed

[2019-02-15 21:26] #200 closed

[2019-02-15 21:26] #201 closed

[2019-02-15 21:37] fabiosantoscode commented on #256
Thanks for reopening this. I haven't exactly been working on Terser a lot, as I have a new client.

I'm having a look right now.

[2019-02-15 21:47] sstur opened #268 "This output is less terse than the input (destructuring)"
**Bug report or Feature request?**
Sub-optimal code (technically not a bug I guess, but certainly unexpected behavior)

**Version (complete output of `terser -V`)**
3.10.2

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**
[code]

**`terser` output or error**
[code]

**Expected result**
[code]

[2019-02-15 22:42] Alhadis commented on #246
`sed` it is then!

[2019-02-16 15:39] fabiospampinato opened #269 "Invalid regular expression (lookbehinds)"
Terser isn't able to minify my code because I'm using [lookbehinds](http://2ality.com/2017/05/regexp-lookbehind-assertions.html), which have been added in ES2018, is this something that will be supported?

[2019-02-17 06:48] L2jLiga commented on #269
@fabiospampinato could you kindly describe what went wrong in details? I tried to compress examples from given link with Terser and for me it works:

Input
[code]

Output:
[code]

[2019-02-17 16:36] fabiospampinato commented on #269
@L2jLiga sure, having the following regex:

[code]

Makes Terser throw the following exception for me:

[code]

I have Terser configured [here](https://github.com/notable/notable/blob/master/webpack.js).

[2019-02-17 22:00] Lonniebiz commented on #249
Sure, I've updated issue 249 to include the actual bundle output (see above).

[2019-02-17 22:32] #241 closed

[2019-02-17 22:34] #256 closed

[2019-02-17 22:37] #257 closed

[2019-02-17 22:54] fabiosantoscode commented on #269
@fabiospampinato A little dirty secret of Terser is that it sometimes uses the underlying RegExp engine that node is using. This was a decision that was probably taken because ES6 and all the new features didn't come out at the time. Check your node version. On node 11 this works for me.

[2019-02-17 22:58] fabiospampinato commented on #269
@fabiosantoscode thanks for the tip! I've since modified that regex to not use lookbehinds so I don't need this anymore.

Perhaps this important detail should be mentioned somewhere?

[2019-02-17 23:08] fabiosantoscode commented on #268
If the `--ecma` option is not set to at least `--ecma 6` then it doesn't want to write just `let{foo}`. If you set `--ecma 6` or more it will be fixed.

[2019-02-17 23:08] #268 closed

[2019-02-18 07:24] otakustay opened #272 "Computed properties results incorrect code evaluating in Safari"
**Bug report or Feature request?**

Bug

**Version (complete output of `terser -V`)**

terser 3.16.1

**Complete CLI command or `minify()` options used**

[code]

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

This output code can be correctly evaluated in chrome 71.0.3578.98 which results:

[code]

![image](https://user-images.githubusercontent.com/639549/5

[2019-02-18 07:56] LeuisKen commented on #272
I run the following code in these browsers:

[code]

In Chrome 72.0.3626.109 gets:

![image](https://user-images.githubusercontent.com/7701575/52935861-8372e700-3395-11e9-8560-c4a1cc5366e6.png)

and Safari 12.0 (14606.1.36.1.9) gets:

![image](https://user-images.githubusercontent.com/7701575/52935937-be751a80-3395-11e9-9deb-96d10cdc08f3.png)

[2019-02-18 08:16] otakustay commented on #272
I know this is actually a BUG of safari, however code introduced by tools like terser are unpredictable and hard to find root cause, it's better to avoid known compatibility issues in major browsers

[2019-02-18 09:30] bdkjones opened #273 "Output Options Cannot Be Passed via CLI"
**Bug report or Feature request?**

Enhancement Request

**Version (complete output of `terser -V`)**

3.16.1

**Issue**

There does not currently seem to be a way to pass any of the Output Format options to Terser via the CLI. For example, if I want to pass `ecma=6`, I cannot do that. (I CAN pass the main CLI `ecma` flag, but that overrides all my other options according to the docs.) Likewise, I

[2019-02-18 09:42] bdkjones commented on #273
Annnnnnd right after I post the issue I find a workaround. This line is the culprit:

 https://github.com/terser-js/terser/blob/0cf9167c5278986744d6584255e153dd5555fd1a/bin/uglifyjs#L95

So if I pass my options via the CLI and tack on `beautify=false` to the end, I can get the desired effect. Example:

      [...] -b ecma=6,inline_script=true,braces=true,beautify=false

When beautify is officially

[2019-02-18 12:08] yi-ge opened #275 "bug: Uncaught SyntaxError: Invalid regular expression: missing /"
terser v3.16.1:

In`Mac OS`, use npm install terser v3.16.1,

[code]

The file ends in `59-\u0A5C\u0A5E\u0A`.

Error: `Uncaught SyntaxError: Invalid regular expression: missing /`.

[2019-02-18 16:27] L2jLiga commented on #275
Could you provide little bit more info? node and npm versions?

[2019-02-18 21:37] tolmasky opened #277 "No way to prevent *just* trailing semicolon (output an expression)"
Not sure if bug or feature request. Depends on intended use I suppose.

The output of terser seems to always include a trailing semicolon: minify("(function() { return 5 })") => "(function{return 5});", which makes it hard to concat multiple results into one file as expressions: `"[" + result1 + "," + result2 + "]"`. I know I can do `{ output: { semicolons: false } }` to turn off ALL semicolons, b

[2019-02-18 21:58] tolmasky opened #278 "Option to return source-map object"
Feature Request (sub-optimal code)

Currently the resulting source map (returned as `map`) is a string. We take this source map and do further post-processing on it, which means we are parsing it immediately, so we are eating the performance hit of an unused stringification, as well as parsing it immediately after. It would be nice to be able to just get the object itself and avoid the extra step

[2019-02-19 05:57] yi-ge commented on #275
Missing part of the file. `node` v11.10.0， `npm` v6.7.0。

[2019-02-19 12:14] asulta commented on #263
The combination of `toplevel: true` and `passes: 3` made this work, thanks!

[2019-02-19 20:19] songololo opened #279 "Improve mangling workflow"
**Feature request**

Mangling of properties, i.e. where `mangle: { properties: true }`, can create tons of bugs that are quite hard to unpick.

It would be ideal if there was a way to control which files are mangled separate from which files are minified. i.e. it would be really useful to be able to say that only files x, y, z should be mangled so that all third-party library files are left unmang

[2019-02-20 05:37] isiahmeadows opened #280 "Variable aliasing should be elided where possible when referenced by closures"
**Bug report or Feature request?** Feature request

**Version (complete output of `terser -V`)** 3.16.1

**Complete CLI command or `minify()` options used** `terser -cm`

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

[code]

Notes:

- Aliasing removal currently already occurs when closures aren't involved.
- Deduplicating aliases is safe in closures provide

[2019-02-20 05:51] isiahmeadows opened #281 "Extra parentheses around non-returned arrow functions"
**Bug report or Feature request?** Feature request (but might be a bug instead)

**Version (complete output of `terser -V`)** 3.16.1

**Complete CLI command or `minify()` options used** `terser -cm`

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

[code]

Note the lack of parentheses around `()=>n`.

This also repros in these cases, very unusually:

[code]

[2019-02-20 16:32] L2jLiga commented on #275
Could you check your `package-lock.json` file? It should contain same part:
[code]

Also you can try to remove `node_modules` and `package-lock.json` files and run `npm install` or `npm cache verify` first

[2019-02-21 01:33] yi-ge commented on #275
[code]

Maybe it is happens only on `yarn`? 😄

Thank you.

[2019-02-21 01:33] #275 closed

[2019-02-21 10:12] vijayaraghavanramanan opened #282 "Don't mangle reserved for toplevel only"
**Bug report or Feature request?**

Feature-request

**Version (complete output of `terser -V`)**

3.16.1

Use case: Twemoji.

The option "reserved" for not mangling toplevel is nice but twemoji has a peculiar code and tersering the code doesn't mangle the "twemoji" inside the function, which can be mangled.

In other words I want to keep the name twemoji but remove the occurrences of the name ins

[2019-02-21 16:00] hytromo commented on #229
I can reproduce the same error with terser v`3.16.1` in my project and using the above provided minimal test case.

There's more discussion about this here: <https://github.com/webpack/webpack/issues/8415>

[2019-02-21 17:32] salomvary opened #283 "Fails with "JavaScript heap out of memory" on a very large input"
**Bug report**

**Version (complete output of `terser -V`)**

terser 3.16.1

**Complete CLI command or `minify()` options used**

curl https://unpkg.com/ffmpeg.js@3.1.9001/ffmpeg-webm.js | node_modules/.bin/terser

**`terser` input**

https://unpkg.com/ffmpeg.js@3.1.9001/ffmpeg-webm.js

**`terser` output or error**

[code]

**Expected result**

Ideally `terser` should process the file without runn

[2019-02-21 17:33] hytromo commented on #229
After testing things out more by running the terser tests, it seems that this line is the culprit: https://github.com/terser-js/terser/blob/master/lib/compress.js#L2198
[code]
If it is changed into
[code]
then the example code above compiles as it should **and all the terser tests run as well** (through `npm run test`). Though still I'm not confident with the codebase at all so as to submit a PR.

[2019-02-21 21:38] fabiosantoscode commented on #196
Reopening this as indeed I didn't have a look at the zips

[2019-02-21 21:41] fabiosantoscode commented on #196
@songololo you can do 1. in your module bundler. In webpack you can use a test regex or function to select a few files, and minify those with certain options, and select the other files and minify with other options. This can be used for example to not minify some libraries that you know are already small.

For 2. you can do it if you're using pure javascript, even if it's ES6 or above (eg. no `<J

[2019-02-22 13:46] fabiosantoscode commented on #269
I think instead we should make Terser ignore these RegExp errors and output a warning when they happen. Running the regexps isn't essential to minification, it's optional.

[2019-02-22 14:06] fabiospampinato commented on #269
That probably a good idea too.

[2019-02-22 22:02] fabiosantoscode commented on #283
As far as I know, it's not possible to handle an out-of-memory error. It wouldn't make sense to keep running nodeJS code to handle the event if you're already out of memory and most everything you do allocates more memory.

I guess we could have a heuristic where we check the file's size and output a helpful warning saying terser might crash with out-of-memory and telling you how to increase the m

[2019-02-22 22:02] #283 closed

[2019-02-23 02:52] fabiosantoscode commented on #249
It looks like webpack and terser are both working properly. I've beautified the code and it's just the machinery and the code you're using, properly tree shaked:

[code]

Additionally, Terser doesn't do tree-shaking. While it's possible to minify multiple files, that's just a shortcut for concatenating them together and then minifying.

If you want to remove this machinery, I suggest using Rollup,

[2019-02-23 03:07] fabiosantoscode commented on #249
This is one of the 2 bugs I'm having a look at this weekend.

[2019-02-23 03:09] fabiosantoscode commented on #196
This is one of the 2 bugs I'm looking at this weekend.

[2019-02-23 03:35] fabiosantoscode commented on #277
This makes a ton of sense to me, as I love expressions and like their composability. But since you can always take out the semicolon at the end with a string operation, I'm not giving it much priority. Instead I'm giving it the "good first PR" label to encourage new people to get to know Terser and contribute to it.

My proposed solution is to add a `expression` option to the minify options. This

[2019-02-23 03:46] fabiosantoscode commented on #272
I think we can piggy-back on the options we already have for Safari 10/11 on this.

We also need to enable these options by default as Safari has a lot of usage. I don't think it's reasonable for Terser to produce code that fails on a very used browser that people don't test their code on enough.

[2019-02-23 03:46] fabiosantoscode commented on #263
Cool beans :)

[2019-02-23 03:46] #263 closed

[2019-02-23 03:47] fabiosantoscode commented on #273
I'm happy to support "-b" but won't document it, otherwise people will keep using it forever.

Thanks for the issue, I didn't predict this would happen at all!

[2019-02-23 03:57] fabiosantoscode commented on #278
Great suggestion.

This is easy to do so I'm giving it the Good First PR label.

Yes we should add a minify option (I propose we use `sourceMap.asObject`, inside the existing `sourceMap` option) where `map` becomes an object, but it should not be a CLI option.

[2019-02-23 03:59] bdkjones commented on #273
Actually, it's easy for me to change to something else. It's just that `-o` is already taken in the CLI, so I'm not sure what makes the most sense. Maybe if these were renamed "Formatting Options" you could use `-f`? Or just "Output Format" and use `-f`?

As long as it gets put into the changelog when it's implemented, I can update my app. And thanks for actually WRITING a changelog! I tried to ge

[2019-02-23 04:15] fabiosantoscode commented on #281
Since this is just suboptimal output, let's call it an enhancement.

This has to be a change in the parenthesis code: https://github.com/terser-js/terser/blob/master/lib/output.js#L793

To answer your questions in the last code example:

1. I'm not happy to do optimisations specifically for code using anonymous blocks in the toplevel to hide block-scoped variables, since this doesn't translate wel

[2019-02-23 04:19] fabiosantoscode commented on #273
I'm going to sleep on that. `-o` would be perfect but `-b` really has to go.

[2019-02-23 04:22] fabiosantoscode commented on #229
@hytromo feel free to open a PR. I'm pretty confident in the test suite as it is, even if it we don't have functional tests (which I'll be adding sometime in the future). No breaking of the web should occur.

[2019-02-23 04:24] fabiosantoscode commented on #247
This is probably an issue mangling `let` specifically. `var` shouldn't have the same problem.

Thanks for the issue, I want to work on this after we release 4.0

[2019-02-23 04:27] fabiosantoscode commented on #172
Given that fixing this wouldn't produce great post-gzip savings, I'm closing the issue.

[2019-02-23 04:27] #172 closed

[2019-02-23 06:46] vladimiry opened #285 "Possibly wrong "instanceof" test?"
https://github.com/terser-js/terser/blob/0cf9167c5278986744d6584255e153dd5555fd1a/lib/compress.js#L3992

So `this.parent_scope` first gets conveted to boolean and only then `instanceof` test takes place.

[2019-02-23 16:53] fabiosantoscode commented on #285
Hey there! Thanks for the issue. Looks like @L2jLiga has fixed it in a PR so we just have to wait until conflicts are fixed!

[2019-02-23 17:00] fabiosantoscode commented on #282
It looks like everything is working:

[code]

[code]

Or do you want do do something like this?

[code]

This way `twemojiFn` is mangled but not the function name.

[2019-02-23 17:05] fabiosantoscode commented on #273
I've decided to keep `-b` but undocument it and use `-f` until 5.0

[2019-02-23 17:06] vijayaraghavanramanan commented on #282
Yeah, could do it but since Twemoji, the Twitter library is released frequently, the process of modifying involves more work. The code looks like:

[code]

[2019-02-23 17:11] fabiosantoscode commented on #273
Also, thanks for the issue. Besides this being a bad interface (having to pass beautify=false), the documentation for `ecma` was completely misunderstandable. If you pass `--ecma` it doesn't override the other options. It's just a shorthand to pass `ecma` to all of them.

[2019-02-23 17:20] fabiosantoscode commented on #282
Well, if "twemoji" is not your own code there isn't much you can do. The only way would be to add that variable and start using it.

I'm not happy to increase the complexity of terser for such a tiny corner case. Sorry but I have to close.

[2019-02-23 17:20] #282 closed

[2019-02-23 17:41] fabiosantoscode commented on #249
@Lonniebiz it looks like if you increase the passes option `-c passes=3` it works. Maybe passes=2 works too. Can you check?

[2019-02-23 17:55] vladimiry commented on #285
This is taken care of and about to be merged, so closing, thanks.

[2019-02-23 17:55] #285 closed

[2019-02-23 18:01] fabiosantoscode commented on #249
This looks like a really hard bug, on one of the hardest parts of the code. I can't fix it just like that :disappointed:

[2019-02-23 21:13] fabiosantoscode commented on #196
First off, I've changed the warning about mangle with properties breaking your code from "might break your code" to "will break your code", since it's more truthful. Mangling properties is impossible to do correctly unless all the code you're using is either very simple, uses prefixed properties, and of course Object.defineProperty and friends (functions that get or manipulate object properties by

[2019-02-23 21:23] #196 closed

[2019-02-24 06:47] Lonniebiz commented on #249
That's ok. I know how that goes. I can imagine that code must be pretty complicated.

[2019-02-24 09:28] L2jLiga opened #289 "Terser depends on deprecated istanbul"
**Bug report or Feature request?**

Not sure. Actually I don't see any usages of istanbul in Terser except of two scripts which are not included in CI build

**Complete CLI commands used**

[code]

**`terser` output or error**

[code]

**Expected result**
No warnings

[2019-02-24 21:13] RebeccaStevens opened #290 "Incorrect Type Definitions"
**Bug report or Feature request?**
Bug report

**Version (complete output of `terser -V`)**
terser 3.16.1

**Complete CLI command or `minify()` options used**
N/A

**`terser` input**
N/A

**`terser` output or error**
N/A

**Expected result**
N/A

**Description**
Typing info is incorrect for some options. I have spotted two, those being `indent_start` and `max_line_len`, there may be more.

**Curre

[2019-02-25 07:22] bdkjones commented on #273
Sounds great! I think `-f` makes sense.

[2019-02-25 21:23] j-verse opened #292 "Compression function inlining / flattening does not always produce working code"
**Bug report or Feature request?**
Bug

**Version (complete output of `terser -V`)**
terser 3.16.1

**Complete CLI command or `minify()` options used**
`terser test.js -c --toplevel`

**`terser` input**
`test.js` contains the following code:
[code]

This code has no useful functionality, it's just a very stripped down piece of code that still produces the issue I'm having with my actual code.

**`

[2019-02-26 06:37] alex996 opened #293 "Repeated property assignments break compression"
**Bug report or Feature request?**
Bug.

**Version (complete output of `terser -V`)**
3.16.1

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**
[code]

**`terser` output or error**
`const b=b=>b;b.a="b",b.b="c";`

**Expected result**
` `

**Description**
Same options as in [terser-online](https://xem.github.io/terser-online/). This doesn't happen with a single property

[2019-02-26 16:15] roblan opened #294 "short-circuit evaluation changed to comma separated list"
**Bug report**

**Version (complete output of `terser -V`)**
`terser 3.16.1`

**Complete CLI command or `minify()` options used**
`terser ./source.js --compress -o ./tersered.js`

**`terser` input**

[code]

**`terser` output or error**
[code]
**Expected result**
[code]

[2019-02-26 23:09] fabiosantoscode commented on #289
We stopped using istanbul for some reason, probably some bug. I think we can drop it entirely.

[2019-02-26 23:11] fabiosantoscode commented on #290
Both of these options are on the way out with 4.0, but I'll add the label so I don't forget to change the typescript typings.

[2019-02-27 00:00] fabiosantoscode commented on #293
Hey there :) nobody raised this, and it's not a security thing.

But since this is not causing any code to break, it's not considered a bug, instead it's suboptimal output.

[2019-02-27 00:25] fabiosantoscode opened #295 "Use ES6 Map instead of Dictionary"
**Bug report or Feature request?** feature request

**Version (complete output of `terser -V`)** N/A

**Complete CLI command or `minify()` options used** N/A

**`terser` input**

N/A

**`terser` output or error**

N/A

**Expected result**

N/A

----

There's a speed boost to be gained by using a real ES6 Map instead of a Dictionary, as it will be implemented by the underlying JS engine.

[2019-02-27 00:40] alex996 commented on #293
My bad, I shouldn't have marked it as a bug then. Thanks for the prompt reply!

[2019-02-27 08:15] syranide opened #296 "domprops.js export messing with node"
**Bug report or Feature request?**
Bug report

**Version (complete output of `terser -V`)**
v3.16.1

**Description**
Neither node v8.15 or v10.15 is able to require `terser/tools/domprops.js` now without throwing the error below, this worked just fine before the commit https://github.com/terser-js/terser/commit/e6e43800dc1de82ff58e9dd77aad349319e0aa03.

[code]
[code]

Where the function-wrapper co

[2019-02-27 11:16] L2jLiga commented on #296
Nothing wrong, it won't work without `--experimental-modules` at least. Since https://github.com/terser-js/terser/pull/209 Terser uses ECMAScript Modules for sources and rollup for bundling.

[2019-02-27 11:26] L2jLiga commented on #296
Another possible solution is to use [esm](https://medium.com/web-on-the-edge/tomorrows-es-modules-today-c53d29ac448c)

[2019-02-27 11:43] syranide commented on #296
@L2jLiga Hmm ok, I'm using terser as part of webpack. As I'm currently using the `webpack` (cli) command I'm unable to inject node-arguments. So as far as I understand it, this makes it incompatible with webpack-cli? (if I want to use `domprops.js`).

Maybe there's more to it, but that seems like an oversight to me. As it's only the optional `domprops.js` that is affected, would it be possible pro

[2019-02-27 22:57] sstur commented on #268
Thank you for clarifying that!

[2019-02-28 23:10] MattiasBuelens commented on #295
I can have a go at this if you want. Seems like the logical next step after #276. 😃

[2019-03-01 09:34] Ycsm2015 opened #297 "how to convert 'let' to 'var'"

[2019-03-02 04:23] bschlenk commented on #297
This seems out of scope for terser. `let` and `var` are both the same length, so no minification would actually happen here. Not to mention `let` and `var` are semantically different, so making the change could affect the behavior of the program. You can use [babel](https://github.com/babel/babel) to do this sort of conversion.

[2019-03-03 15:47] fabiosantoscode commented on #297
Closing since it's been answered

[2019-03-03 15:47] #297 closed

[2019-03-03 15:52] fabiosantoscode commented on #296
The function wrapper is from node itself. It's used to provide the variables you can see in the function arguments and a closure for the module to run safely in.

Terser's internal modules aren't part of the public interface, so I'm not worried about this.

`domprops` is for mangle-props, but if you're trying to mangle properties except for DOM properties, you can pass `domprops=true` as an option

[2019-03-03 16:02] #289 closed

[2019-03-03 16:12] #229 closed

[2019-03-03 23:50] fabiosantoscode opened #301 "Terser 4 meta-issue"
This issue is meant to outline which changes are going to come in Terser 4.0. It didn't come out this weekend as expected, since life said no.

## Breaking changes that have to be completed for Terser 4

 - [ ] Terser 4 is no longer going to have beautify functionality. `lib/output.js` code will remain the same but will purposefully crash when `beautify=true` is used.
 - [ ] Deprecation of some ou

[2019-03-04 08:02] robert-gogolan commented on #296
I have the same issue

`terserOptions: {
   mangle: {
     properties: {
       keep_quoted: true
       reserved: require('terser/tools/domprops').domprops
       }
     }
 }`

'domprops' is not a supported options whereever i put it either in mangle or in mangle.properties.
Any ideea how to pass the --experimental-modules?
I am building the project with plain "webpack" cli command.

[2019-03-04 08:25] syranide commented on #296
Yeah, the `domprops` option seems to only be available for terser cli. However it seems `domprops` is included by default nowadays whether you like it or not (at least for terser-webpack-plugin) as it actually behaves correctly even when I removed it, and `reserved` actually adds to the list of the default domprops now (rather than clear it). My config is a few years old so this uglify/terser-beha

[2019-03-04 08:27] L2jLiga commented on #296
@robert-gogolan Terser should include domprops to reserved list by default, why do you need it?

According to your question with passing properties in webpack, you can try [esm](https://www.npmjs.com/package/esm) package and then use command: `node -r esm node_modules\webpack\bin\webpack.js`

**webpack.config.js**:
[code]

[2019-03-04 09:32] robpalme opened #303 "Parser support for Public Class Fields"
**Feature request**

This is a proposal to add support for [Public Class Fields](https://github.com/tc39/proposal-class-fields) to the Terser parser.
The goal is simply to allow pass-through behavior - no compression or mangling.
The proposed scope is public fields only, as that is what has been shipping in Chrome 72 since January 2019.

The language proposal is currently Stage-3 so I'd like to ch

[2019-03-04 11:15] robert-gogolan commented on #296
It is activated by default, but when i activate "keep_quoted" then it minifies the domprops :(

My hacks would be to:
- c/p the domprops content in my project
- delete the export in the terser/tools/domprops
- install uglifyjs and use that from there since it just contains the array

All three kind of stinks.

I will try the esm package, thanks for the tip.

[2019-03-04 12:27] syranide commented on #296
@robert-gogolan That's weird, I have `keep_quoted: true` too, and I'm not seeing any issues with mangling of domprops.

[2019-03-04 13:02] robert-gogolan commented on #296
Works now.
I don't know what settings I had friday, because I tested a lot of different options configurations, so I may had screwed something up.
Now i have only mange.properties.keep_quoted and the domprops are not getting minified, which is awesome.

[2019-03-04 13:20] syranide opened #304 "add `keep_quoted=strict` mode (PR RFC)"
**Bug report or Feature request?**
Feature request

**Information**
I made a PR for uglify-js some time back for adding `keep_quoted=strict` mode which prevents quoted properties from being automatically reserved (which stops unquoted properties of the same name from being mangled). This is much closer to how google-closure-compiler works; it generates less code, more completely obfuscates code an

[2019-03-04 13:22] syranide commented on #296
I'll go ahead and close this then as this was just caused by legacy configurations and is not actually a problem in terser.

Thanks @fabiosantoscode and @L2jLiga

[2019-03-04 13:22] #296 closed

[2019-03-04 18:13] Hoten opened #305 "Testing package main module resolves incorrect source map"
Set a debugger statement here:
[code]

Run ndb:
[code]

Step into `UglifyJS.minify`. Mappings will be incorrect.

This is b/c the mocha test requires `UglifyJS` with `../..`, which resolves to the root dir, which reads the package.json and uses `.main`, which is the minified bundle. If you set `.main` to `dist/bundle.js`, the mappings work.

ndb claims it is being mapped from `bundle.js` (see bott

[2019-03-05 00:07] Hoten opened #306 "code coverage"
[seems coverage was removed](https://github.com/terser-js/terser/commit/a09a93fc1cd83ae229278e0edbfe90095d00a8f4)? I had a hunch about some code that could be removed, and wanted to confirm if it was hit in any tests.

[2019-03-05 00:30] fabiosantoscode commented on #279
Hey there!

Terser doesn't know about the many files involved in your project.

I posted a way to do what you want to do as an answer on SO: https://stackoverflow.com/questions/53720278/how-to-keep-libs-out-of-mangling-with-uglifyjs-or-terser-webpack-plugin

[2019-03-05 00:32] fabiosantoscode commented on #306
Code coverage was removed for several reasons. My reason was that we would need a coverage tool for our custom `test/run-tests.js` machinery. If any of those tests (which make most of our tests) cover the code you want to remove, you wouldn't know even if we had coverage :(

I think adding coverage functionality to our custom testing machinery is out of scope for this project, so I have to close t

[2019-03-05 00:32] #306 closed

[2019-03-05 00:36] fabiosantoscode commented on #303
Great idea.

Please go ahead, but don't expect me to merge it soon. Terser 4 has to go out the door first.

[2019-03-05 00:39] fabiosantoscode commented on #305
I've noticed this as well!

It happens with stack traces too. The lines are completely wrong.

I don't know why this is happening. It could be a Terser bug or a Rollup bug.

A way to isolate it would be to import `dist/bundle.js` directly instead of `dist/bundle.min.js`, to see if this still occurs. If it does not, then it's a Terser bug.

[2019-03-05 00:52] Hoten commented on #306
Fair enough, coverage would be useful but I understand it'd be a bit of work to add to the project's test harness. For the benefit of anyone out there reading this issue and interested in doing the work, I'll ask you - would you accept a PR that added coverage?

Related to tests, I found mocha tests to be cumbersome when run via `run-tests.js` for a couple reasons: 1) no way to filter what tests r

[2019-03-05 00:58] fabiosantoscode commented on #304
I see why you have to make changes at multiple stages.

I see you didn't change any other tests to make it work, as it's really low impact.

But! I'd rather you change that new "quote" property to "original_quote". It explains what it's for a bit better.

Also, Terser 4 is coming out and there's plenty to do, so don't expect any attention from me on that PR until 4 is out.

[2019-03-05 00:59] Hoten commented on #305
I tried that just now, importing `dist/bundle.js` works but the minified file does not. However, I think the minified source file and map are fine. I uploaded them to https://sokra.github.io/source-map-visualization and it looks fine.

![image](https://user-images.githubusercontent.com/4071474/53773302-b55c7100-3e9e-11e9-8986-04ede9210f1a.png)

[2019-03-05 03:28] Hoten commented on #305
a smaller repro, cuts out rollup:

save to `tmp.js`:
[code]

[code]

--

I went back to v3.9.0, and the old way of bundling produced correct mappings for the repro in the OP. could be due to either the bundling process changes, or something related to how terser generates source maps. a clue :) Could bisect to see.

[2019-03-05 03:59] Hoten commented on #305
works - 9fe68c6b
no work - 28c9fc31

[code]

Got me to commit e6e43800dc1de82ff58e9dd77aad349319e0aa03.

`git bisect log`:
[code]

[2019-03-05 07:31] robpalme commented on #303
Excellent. It's understandable that this must follow Terser 4.

To help with timing, can you provide any rough estimate for Terser 4 landing? If it was April, we might start now. If it was Q3, we'd defer starting this work.

[2019-03-05 08:15] syranide commented on #304
@fabiosantoscode Agree :+1:

It sounds like you're probably OK with the PR then. But I'll wait until you're done with Terser 4 then, and then I'll port it and submit a proper PR.

Thank you!

[2019-03-05 17:08] Hoten commented on #305
Looking more at the `tmp.js` example, I'm more convinced this is not a bug in terser, but in ndb.

I uploaded `dist/tmp.min.js` and ran it through [sourcemapvalidator.io](https://sourcemaps.io/report/1551805425786_http%3A%2F%2Fmacho-degree.surge.sh%2Ftmp.min.js). Checks out.

I opened http://macho-degree.surge.sh/ in Chrome (stable and canary channels), and the mappings worked fine. Just not in nd

[2019-03-05 17:08] #305 closed

[2019-03-05 20:26] fabiosantoscode commented on #301
I can't complete all these changes for Terser 4 so they need to wait for a new version.

[2019-03-05 20:26] #301 closed

[2019-03-06 15:30] marcusdarmstrong opened #308 "Multiple passes produce incorrect code"
**Bug report or Feature request?**

Bug.

**Version (complete output of `terser -V`)**
terser 3.16.1

**Complete CLI command or `minify()` options used**
`terser -m -c passes=4 --toplevel test.js`

**`terser` input**
[code]

**`terser` output or error**
`terser -m -c passes=3 --toplevel test.js`

`exports.withStyles=function(){!function(n){throw new TypeError("Super expression must be a function,

[2019-03-07 04:34] L2jLiga commented on #308
What I've found:

**command:**
`terser -m -c passes=3 --toplevel test.js`

**Case 1:** *After removing `function d(){}` it works:*
----------------------------------------------------------

**Input:**
[code]

**Output:**
[code]

**Case 2:** *After moving *function d() {}* outside of anonymus function it also produces correct code:
--------------------

**Input:**
[code]

**Output:**
[code]

**Cas

[2019-03-07 13:08] ca0v commented on #238
I'm having issues with code being out-of-sync and wanted to turn off all minification and simply concat multiple files as-is and generate a .map file with inline source.  That seems impossible even with compress = mangle = false.  It removes whitespace and line breaks.

[2019-03-07 13:33] roblan commented on #308
I'm not sure, but it looks a little like https://github.com/terser-js/terser/issues/294

[2019-03-08 02:26] L2jLiga commented on #308
@roblan unfortunately no, your problem is hidden in `AST_Binary` optimization. Removing such kind of optimization from Terser code will make correct output but suboptimal

[2019-03-08 02:34] L2jLiga commented on #308
Workaround is to add `evaluate=false` to compress options, also it's workaround for #294

I'll try to fix it

[2019-03-08 16:53] syranide commented on #304
Closing issue because I put a PR up instead #310

[2019-03-08 16:53] #304 closed

[2019-03-10 17:32] fabiosantoscode commented on #303
I ended up creating a `terser-4` branch where I'm adding breaking changes. You're clear to go!

[2019-03-10 20:05] fabiosantoscode commented on #290
Correction: only `indent_start` will die.

[2019-03-10 20:08] fabiosantoscode commented on #273
@bdkjones any chance you could send a PR where `-f` and `--format` becomes the norm and `-b` just an alias for it? I've started work on this but other issues came up.

[2019-03-10 20:13] fabiosantoscode commented on #260
There's an option that does something like what you're talking about:

I wouldn't want this implemented on Terser as it's a low-return optimisation for the amount of complexity it would add. Have a gander at lib/compress/index.js and tell me if that's not complex enough ;)

[2019-03-10 20:13] #260 closed

[2019-03-10 20:18] tchetwin commented on #289
This commit https://github.com/terser-js/terser/commit/e0fdd48b0ba2eaad21ab4005c1722769e07c3fba appears to clobber PR #299.

Cloning (just now) and running tests fails, as the `istanbul` dependency is gone but the `test` script attempts to call it.

[2019-03-11 16:03] benmccann commented on #260
Thanks for the pointer. I'm very surprised that `hoist_vars` increases the size in general. I just tested on my project and it did increase the size there as well. Is it doing exactly when I'm describing or something else?

When I do it manually it seems to decrease the size. Is it getting applied before variable joining and other operations?

[2019-03-11 16:38] L2jLiga commented on #289
In PR https://github.com/terser-js/terser/pull/288 scripts were updated and if it was merged it can fix build

[2019-03-12 16:51] jondlm opened #311 "Unused tagged template literal emitting unnamed function"
Type: **Bug report**
Version: **terser 3.17.0** (also noticed the bug on 3.16.1)

Here is [a codesandbox](https://codesandbox.io/s/k788wnxqr?fontsize=14&view=editor) with a repro
[code]

`compress: true` is causing terser to emitting invalid code that includes [an unnamed function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Errors/Unnamed_function_statement).

[2019-03-13 22:15] Conduitry opened #312 "new Array incorrectly minified when not passed a number"
The new feature #246/#255 in version 3.17.0 does not produce correct output when given an array constructor that is passed one argument and that argument is not a number.

**Bug report or Feature request?**

Bug report

**Version (complete output of `terser -V`)**

terser 3.17.0

**Complete CLI command or `minify()` options used**

[code]

**`terser` input**

[code]

**`terser` output or error**

[2019-03-13 22:19] Conduitry commented on #312
I assume that the code [here](https://github.com/terser-js/terser/blob/d01eb6f6712e013a652aaf5a09177a018f7ac200/lib/compress/index.js#L5322) should also be bailing when `args[0]` is not a literal.

[2019-03-13 22:40] Conduitry commented on #312
There seem to be several issues here. `new Array("foo")` also minifies incorrectly. These optimizations are also only happening with `new Array(...)` and not `Array(...)`. Perhaps #255 should be reverted for now?

[2019-03-14 02:06] jahed commented on #191
This also applies to arrow functions. Using the same example with `keep_fnames`,

[code]

becomes

[code]

[2019-03-14 13:44] Alhadis commented on #312
Is there seriously no way of checking the argument's object type in [this block](https://github.com/L2jLiga/terser/blob/85b4ae85f07f307bf6bbd134ba868cb95561c74c/lib/compress.js#L5312)? It should be as simple as testing the node's type against `Number` (achieved in JS using `typeof`, no idea what Terser's API uses…)

[2019-03-14 14:11] Conduitry commented on #312
Starting again from the original version of that function, I did arrive at this:

[code]

which seems to work, but this still only optimizes stuff like `new Array(5)` and not `Array(5)`.

I can submit this as a PR along with a couple new tests, but I'm still not sure whether there's any good place that the shared parts of this logic should live so that we can optimize `Array(5)` as well.

[2019-03-14 14:23] Alhadis commented on #312
This should be a separate optimisation, handled prior to this one:

[code]

It's literally 4 bytes less, each time.

[2019-03-14 14:47] Conduitry commented on #312
👍 Makes sense, opened PR #314.

[2019-03-14 14:52] Alhadis commented on #312
Make sure ASI won't screw with the `new Array => Array` transformation, BTW. This is still possible:

[code]

[2019-03-16 19:06] fabiosantoscode commented on #312
Nice find :)

@Alhadis since terser operates on the AST level, it has already fixed all ESI issues by simply parsing. If you type `x` then a newline and then `[2]`, the parser correctly handles it like JavaScript does. Compression is a step which occurs after that.

[2019-03-16 19:18] Alhadis commented on #312
Ace, that's relieving to know. 👍 Just wanted to make sure.

[2019-03-16 20:13] #295 closed

[2019-03-16 21:29] #312 closed

[2019-03-21 13:21] AbcAeffchen opened #316 "mangle-properties regex cannot be tested if set by config file"
Bug

Version: terser 3.17.0

I use terser with options stored in a file. The files content is parsed as a JSON string. So it looks like this:

[code]
Now the Problem is, that one gets an error like this:

    at test (/usr/local/lib/node_modules/terser/lib/propmangle.js:236:29)
    at should_mangle (/usr/local/lib/node_modules/terser/lib/propmangle.js:246:14)
    at gn.add [as visit] (/usr/local/l

[2019-03-23 11:47] L2jLiga commented on #316
There are two options how to fix this:

1. Parse given regular expression by other regex, like `/^\/.+\/[a-z]*$/` to create same regex with same flags
1. Accept [pattern](https://docs.oracle.com/javase/7/docs/api/java/util/regex/Pattern.html) string as input and then call `new RegExp(regex)`

First solution will fix issue with given config
Second solution will require to change config "regex" fiel

[2019-03-23 12:27] AbcAeffchen commented on #316
I think the second option is the cleanest.

[2019-03-23 12:35] L2jLiga commented on #316
Cool, I can do it later when will have access to laptop or you can do it yourself :)

RegExp constructor accepts RegExp literal or pattern string, hence we need to wrap right part into `new RegExp` here https://github.com/terser-js/terser/blob/cc00e783714c16b61288ec3233a6ca38b3de5cf6/lib/propmangle.js#L166

And update readme and typings to reflect changes.

Cheers

[2019-03-23 12:49] AbcAeffchen commented on #316
Nice. I cannot do it before Monday. If you also have no time till then, I can do it.

[2019-03-23 12:53] L2jLiga commented on #316
I'll create PR later today

[2019-03-26 13:44] fabiosantoscode commented on #311
Looks like the code is almost correct. All it needs is some parentheses!

[code]

The solution to this should be to fix the PARENS code in lib/output.js

[2019-03-27 13:46] Ajaxy opened #318 "Wrong processing produces `Missing initializer in const declaration`"
**Bug report**

**Version (complete output of `terser -V`)**
terser 3.17.0

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**
[code]
Changing any line from above will likely make the bug go away.

**`terser` output and error**
[code]
Producing `Uncaught SyntaxError: Missing initializer in const declaration`. Note: `const n=t(),o;`.

**Expected result**
Same, but withou

[2019-03-28 10:27] dylansmith commented on #204
@eltonio450 were you seeing exit code > 0 for this `EFAULT` issue? I'm also seeing it, it's impacting our production system, and the build passes 😱

[2019-03-28 10:31] dylansmith commented on #204
Also, should add that we see `ENOMEM` in CircleCI before the `EFAULT`:

[code]

[2019-03-28 12:27] eltonio450 commented on #204
i am not sure anymore, but the not enough memory seems to be some kind of timeout in our case. Did you try disabling parallelization and caching ?

[2019-03-28 14:15] dylansmith commented on #204
Webpack was running 3 build configurations in parallel, each having a terser step. We tried reverting back to uglify and had similar issues, so this is probably not a terser issue specifically. We have switched to running the build configurations in series and this resolved the issue.

[2019-03-29 15:56] SeregPie opened #321 "[bug] strings are not reused as variables if variable names too long"
**report**

Check out the codepen.
https://codepen.io/SeregPie/pen/xeKVvR
The same string appears multiple times in the minified code but in the original code it is declared only once.
If I rename the variables and make them shorter, it produces the correct minified code.

**version**

3.17.0

**options**

`{toplevel: true}`

**input**

[code]

**output**

[code]

[2019-03-31 14:00] huozhi opened #322 "[bug] mangled property mutator's name only during invocation"
**Bug report**

property mutators created by babel helper createClass, is still been mangled.
this is a existed bug since uglify-js, I'm not sure if it's caused by dynamic created properties cannot been analyzed by terser AST

origin source: example.js
[code]

babel config, transform class only
[code]

**`terser` input**
babel it: example.es5.js

[code]

**Version (complete output of `terser -V`)*

[2019-03-31 14:07] huozhi commented on #322
Another example here is:

**terser input**
[code]

with mangle-props option

**terser output**

[code]

Question: should we keep the property name `propc` for safety? or we just mangle it randomly?
for the babel createClass case, is there anyway to detect it created properties dynamically?

[2019-04-01 03:10] mikob opened #323 "[bug] pure_funcs doesn't work with bind'ed functions"
I am trying to optimize out binded `console.log` statements in minified js. I am binding `console.log` so that I can have an argument prepended by default.

The `pure_funcs` setting of terser doesn't appear to work with the binded function (see output below).

`drop_console` is even worse because it sets `this.log = void` and causes undefined function errors.

Am I missing something here? If an `x

[2019-04-02 11:04] danielgindi opened #324 "BigInt not supported"
terser 3.17.0

When uglifying `return 10n;`,
we get `Unexpected token: name (n)`

[2019-04-03 05:46] ngprnk commented on #164
this is not an issue in development mode, this arises in production mode, when it is doing minifying process, not sure if this issued should be closed.

[2019-04-04 15:34] jondlm commented on #311
I'll take a look at the code and see if I can fix it when I get some extra time in my schedule.

[2019-04-04 18:53] nylen commented on #306
Is there any documentation about this setup?  Why it exists / why it's necessary?

I'd also like to know the answer to this.

Code coverage is especially useful for projects that are (a) complicated, and (b) expected to serve as a base for many other things.  JavaScript minifiers meet both of these criteria in my opinion.

[2019-04-08 10:41] syranide opened #327 "domprops missing definitions for MutationObserverInit"
**Bug report or Feature request?**
BUG

**Version (complete output of `terser -V`)**
terser 3.14.1

**Description**
The domprops definitions for property mangling is incomplete with respect to MutationObserver. The properties of its options object is not defined in domprops.

See: https://developer.mozilla.org/en-US/docs/Web/API/MutationObserverInit

I'm assuming this file is automatically generat

[2019-04-10 07:37] vivcogit opened #328 "Dublicate banner comment"
**Bug report or Feature request?**
Bug

**Version (complete output of `terser -V`)**
terser 3.17.0

**Complete CLI command or `minify()` options used**
Default webpack options:
[code]

**`terser` input**
library [classnames](https://github.com/JedWatson/classnames) after webpack:
Reproduce code see here: https://gist.github.com/vivcogit/66671fd4f921f9e3f43a3ceb579eb70c#file-test-js

**`terser` out

[2019-04-10 08:34] jacktuck opened #329 "Error destructuring keyword "async" with default value"
**Bug report or Feature request?**
Bug report

**Version (complete output of `terser -V`)**
terser 3.17.0

**Complete CLI command or `minify()` options used**
terser test.js

**`terser` input**
[code]
**`terser` output or error**
[code]

**Expected result**
No error

[2019-04-10 13:25] FarSeeing opened #330 "Extra variable added on destructuring assignment in block scope."
**Bug report or Feature request?**
Feature request

**Version (complete output of `terser -V`)**
terser 3.17.0

**Complete CLI command or `minify()` options used**
`terser test.js -m -c ecma 8`

**`terser` input**
[code]

**`terser` output or error**
[code]

**Expected result**
[code]

This issue partially duplicates #268 - in top-level scope it works fine, but in block scope we get this extra var

[2019-04-10 15:35] namxam commented on #269
I am not sure if this is the same issue, but I just had issues with using terser on some code which uses named matching groups. It works perfectly fine in node 11.13.* but terser fails.

[2019-04-10 16:22] L2jLiga commented on #269
@namxam could you run terser with `TERSER_NO_BUNDLE=1` environment parameter and provide stacktrace?

[2019-04-12 10:08] tdzl2003 opened #331 "Module like code needs run terser twice to complete"
**Bug report or Feature request?**

Optimize request

**Version (complete output of `terser -V`)**

terser 3.17.0

**Complete CLI command or `minify()` options used**

--compress --mangle --toplevel

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

Got this output if run tenser again with output code:

[code]

**`terser` input**

[code]

**`terser` output or e

[2019-04-15 02:45] BenBeattieHood opened #332 "Custom funcs on Object.prototype when calling Terser programatically"
**Bug report or Feature request?**

Bug report

**Version (complete output of `terser -V`)**

3.3.8 - 3.17.0

**Complete CLI command or `minify()` options used**

Options don't have an effect to this bug

**`terser` input**

If you add an additional function to Object.prototype, then during module init Terser will fail on the function below:
[code]

**`terser` output or error**

`for (var key in o

[2019-04-15 09:57] otakustay commented on #292
My fault, failed to merge this fix to master, `2.1.2` should fix

[2019-04-17 09:26] TrySound opened #333 "[bug] collapse_vars produces broken esm output"
**Bug report or Feature request?**
bug

**Version (complete output of `terser -V`)**

terser 3.17.0

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**
[code]

**`terser` prettified result**

[code]

**Expected result**

[code]

[2019-04-17 16:13] maksimr opened #334 "minimization bug (Cannot read property '...' of undefined)"
"Uncaught TypeError: Cannot read property 'x' of undefined" when running "webpack" in production mode

[code]

Webpack configuration:
[code]

package.json:
[code]

When minification is enabled we get error
[code]

![image](https://user-images.githubusercontent.com/616193/56390592-0ea51780-6235-11e9-8be9-98f12e5c173f.png)

As you can see this is wrong code because of variable `e` always undefined

[2019-04-17 16:56] bpasero opened #335 "Minified code gets confused when declaring same variable name in try-block"
**Bug**

**Version (complete output of `terser -V`)**

`terser 4.1.4`

**Complete CLI command or `minify()` options used**

`terser --compress --mangle`

**`terser` input**

[code]

**`terser` output or error**

`function test(t,c){let s=!1;s||(s=!0);try{const t={}}catch(c){t.dispose()}}`

**Expected result**

Within the catch block, it should be `c.dispose()` and not `t.dispose()`! After all, the

[2019-04-20 05:50] L2jLiga commented on #334
Actually your example produces correct code outside of `webpack`. I took a look what's webpack produce and tried to find out minimal reproducible code:

[code]

[2019-04-20 09:42] L2jLiga commented on #334
I've created  PR with kinda fix just now: https://github.com/terser-js/terser/pull/339

[2019-04-20 10:22] maksimr commented on #334
@L2jLiga Thanks, so the problem was in terser? I saw a similar problem in Uglifyjs

[2019-04-20 12:07] L2jLiga commented on #334
I think this is not only the problem of Terser, because Terser grown up on uglifyjs

[2019-04-21 07:13] gdh1995 commented on #172
Why not just add an extra switch which is default to be false to do this transformation?

I can not come up with any cases where a runtime exception of `const` will be used to control high-level code behavior dynamically. Basically, if a `const` fails the compilation, then a `let` does, too. Isn't it? Besides, code in debug mode should have warned developers such exceptions.

[2019-04-22 14:58] richplastow opened #340 "Option to safely minify property names"
**Feature request**

This technique works well when hand-minifying, code golf style. I don’t think it’s currently available in any JS minifier — let me know if I’m wrong.

Here’s `simple.unminified.js`:
[code]

Basic Terser usage:
[code]

`--mangle-props` creates a small file, but breaks our module’s API:
[code]

With this proposal, `--safe-props`, it’s all good:
[code]

Or how about `--smart-safe

[2019-04-24 10:05] L2jLiga commented on #340
I know that it is not the same but you can configure which props to mangle by regex ([README.md](https://github.com/terser-js/terser#cli-mangling-property-names---mangle-props))

`terser file.js --mange-props regex=/^_/`

[2019-04-24 16:11] oteku commented on #269
I have the same issue with this regexp using lookbehind : `/((?<!\d)[\.,;:\?\!](?!\d))/g`
It's perfectly fine with node 9+

[2019-04-27 19:48] fabiosantoscode commented on #333
I meant to take only a quick look, but this took me a lot longer than I expected...

The function that handles the `collapse_vars` option is called `collapse`

I'm guessing the issue is in the `extract_candidates` function. It doesn't take AST_Export into account.

[2019-04-30 21:28] stevenvachon opened #345 "Broken source maps?"
**Bug report or Feature request?**
Bug

**Version (complete output of `terser -V`)**
3.17.0

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**
too long

**`terser` output or error**
too long

**Expected result**
Working code.

---

This is very annoying.

Firstly, if I exclude the `'url=temp.js.map'` part, it doesn't automatically include `//# sourceMappingURL` in temp

[2019-05-01 03:31] L2jLiga commented on #345
Have you tried to open this via http protocol? Few month ago I faced with same issue when trying to open files via `file://` protocol

[2019-05-01 16:19] L2jLiga commented on #345
I see that you use browserify with `--debug`. Terser uses `node-source-map-support` under the hood and this issue may be relevant to you: https://github.com/evanw/node-source-map-support/pull/66

[2019-05-01 16:29] stevenvachon commented on #345
If I remove the `--debug` option, the source map does not get updated (since `babel` (cli) which produced index-es5.js from index.js).

I still have to try with` http://` instead of `file://`.

[2019-05-08 05:38] Cyp commented on #331
Think it needs `{compress: {passes: 2}}` (or more). Not sure about the command line syntax.

[2019-05-09 19:57] avdg commented on #218
This is a multi byte character, so maybe an encoding issue? Terser should only support ucs-2, meaning that characters requiring more than 2 bytes should use the surrogates (which are 2 character sequences each being 2 bytes long).

Note that the parser doesn't support full utf-8 as the standard assumes ucs-2 and this being a very rare case that could be worked around in many ways (using ucs-2 or e

[2019-05-09 20:49] avdg commented on #218
Seems there are some cases that break, but some cases that work correctly (still need to dig deeper myself):

scripts/u2028.js:
[code]

Running with node v10.15.3
[code]

[2019-05-09 22:07] TheLarkInn commented on #249
@fabiosantoscode is there a way to break up the work into contributable pieces from the community. I'm sure theres more then a few people who'd love to help if its possible.

[2019-05-10 03:16] dlong500 opened #346 "terserOptions warnings vs compress.warnings"
**Request for clarification**

How does the terserOptions warnings property differ from the compress.warnings property?  Are they different at all, and if not is one deprecated?  Both properties are currently listed in the documentation.  Apparently UglifyJS recently removed the compress.warnings property and it now emits an error if that property is present.  See https://github.com/mishoo/UglifyJ

[2019-05-12 19:21] JoelEllis opened #347 "Feature: long array optimisation"
**Bug report or Feature request?**
Feature: long array optimisation:

Terser should optimise long arrays of strings into single strings turned into arrays by the `.split` function. It should try to do it in as many situations where it helps as possible - ie if s string has spaces, use a different char - for example commas as the split char.

**`terser` input**

[code]

**`terser` output or error**

[2019-05-12 19:26] derpmarine168 commented on #347
In an app containing an array of every domain name, this can save more than 3k. It's worth it, and it's used in closure compiler too when it's in the same mode that turns `new Array()` into `[]`.

[2019-05-13 12:07] ma2ciek opened #348 "Nested function with shadowed variable bug"
**Bug report or Feature request?**

Bug report

**Version (complete output of `terser -V`)**

3.17.0

**Complete CLI command or `minify()` options used**

[code]

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

[code]

[2019-05-15 18:09] tchetwin commented on #269
Just noticing failures with regex groups on node 8, working on 10 and 11.

Source:
[code]

Result:
[code]

Version of terser: fbebaaff9ff021bd46cc4dcb344348f3fbb3b57b

Inspector shows it goes wrong when passing the source to `RegExp` as [mentioned](https://github.com/terser-js/terser/issues/269#issuecomment-464521971).

https://github.com/terser-js/terser/blob/fbebaaff9ff021bd46cc4dcb344348f3fbb3b

[2019-05-18 14:11] #332 closed

[2019-05-18 15:18] #334 closed

[2019-05-18 15:25] fabiosantoscode commented on #324
Not a bug, since BigInt is still stage 3! Still, @L2jLiga opened a PR so I'm looking into it.

[2019-05-18 17:26] #316 closed

[2019-05-18 17:32] fabiosantoscode commented on #331
It's as @Cyp says. Instead of running the whole thing twice you can increase the number of passes by the compressor step.

[2019-05-18 17:32] #331 closed

[2019-05-19 13:58] fabiosantoscode commented on #322
Terser isn't as smart as you think, and making it that smart is out of scope for the project. It does work with direct calls to `Object.defineProperty` but if that babel transform is using a wrapper function, no can do :)

[2019-05-19 13:58] #322 closed

[2019-05-19 14:04] fabiosantoscode commented on #323
Terser doesn't support this, and it's not possible to do without running the actual code in some sort of VM. Terser has a very basic code evaluation functionality but it doesn't know about classes (which are just syntax sugar for functions anyway).

[2019-05-19 14:04] #323 closed

[2019-05-19 14:07] fabiosantoscode commented on #321
Interesting behaviour, but suboptimal code is not a bug. Maybe someone has the time to look into this. I don't know what might be causing it.

[2019-05-19 14:10] fabiosantoscode commented on #329
Thanks for this parser bug report!

[2019-05-19 14:12] #281 closed

[2019-05-20 17:12] cekvenich commented on #301
So 4.0 is released with all of these or some of these?

[2019-05-22 17:43] CodeElegant opened #349 "Feature Request: ES2018 private class field support"
Thank you for considering.

[2019-05-23 17:03] #292 closed

[2019-05-25 21:17] isiahmeadows commented on #347
This is not safe when `String.prototype.split` is overridden in the environment. Can't say it won't get added as I don't work on Terser personally, but it almost certainly won't be enabled by default.

[2019-05-25 21:39] isiahmeadows opened #350 "Allow preventing inlining by function call"
Just a simple feature request that there should be an escape hatch for `inline` to force a function to *not* be inlined. Of course, this is almost *never* a good idea, but in performance-critical scenarios, there might be a reason to explicitly not inline a function, mainly to guide engines to inline the caller more easily. Here's a few examples from Node's own code base: [1](https://github.com/no

[2019-05-25 21:46] leeoniya commented on #350
related discussion & impl in Closure:

https://github.com/google/closure-compiler/issues/2751

[2019-05-25 22:59] isiahmeadows commented on #350
I do have a preference: the annotation should be on the caller's side, not the callee's side. Engines usually care about the caller's side when performing optimizations, so this is where it'd have the greatest impact. Plus, there's already `/* @__PURE__ */` which operates on the expression side, so this would glide in naturally in a place similar to that, and this in general operates closer to how

[2019-05-26 07:16] jacott opened #351 "PR #288 removes access to AST"
Bug report

By excluding the AST from the exports in PR #288 terser can no longer be used as an AST tool. This breaks two of my projects. Can we either restore the exports or create a separate bundle for using the AST?

[2019-05-26 07:36] leeoniya commented on #350
i wonder how the "caller" side hint would work from a minifier's perspective.

it seems like it would rarely make sense to inline in the first place since you'd be saving just `function a(b,c) {}` worth of chars. but let's say this does make sense, then it would only happen in a single place since duplicating the body of the function for inlining in separate locations would be more wasteful for a

[2019-05-26 10:14] isiahmeadows commented on #350
@leeoniya I've not had much of an issue with perf when it comes to automatic inlining, and I'd rather keep the option enabled for the 90% of code that could generally benefit from the reduced code size. It's just that 10% where I need a little more fine-grained control.

[2019-05-26 10:16] isiahmeadows commented on #350
And Closure Compiler IIRC does (or at least did) inline small functions across multiple locations in its advanced optimization mode, which optimizes for speed over size somewhat.

[2019-05-26 16:03] huozhi commented on #322
@fabiosantoscode what about the second example? `a.propc` is not a defined property, shall we still mangle it?

babel's class definition is too dynamic that we could probably ignore it. the second example is more like statically defined property was mangled by accident, isn't it? or it's hard to handle it with terser's AST parser? just curious 🤔

[2019-05-26 23:06] freund17 opened #352 "[bug] breaks already minified code"
**Bug report**

**Version**

4.0.0
3.17.0
3.16.1
3.16.0
3.10.0
possibly all?

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**

The minified Version of the `numbro`-library: (I'm sorry - I have no small example :( )

https://unpkg.com/numbro@2.1.2/dist/numbro.min.js

**`terser` output or error**

Search for `function(e,t,r,n,i){if(-1` in `test.js` - you'll find:

[cod

[2019-05-28 19:22] freund17 commented on #352
I spend some more time on it and here I am with a minimal example:
(And is seems that I was horribly wrong)

[code]

This will be transformed to

[code]

The variables that are directly derived from closure-variables simply get substituted - which is completely legitimate.
This is the same situation as in the original example.

Changing the code a little:

[code]

basically reveals that everything

[2019-05-28 19:22] #352 closed

[2019-05-28 22:51] ForsakenHarmony opened #353 "Terser doesn't remove / includes empty comments"
**Bug report or Feature request?**

Bug?

**Version (complete output of `terser -V` or specific git commit)**

4.0.0

**Complete CLI command or `minify()` options used**

`./node_modules/.bin/terser --comments "[@#]__PURE__" ./file.js`

**`terser` input**

`file.js`
[code]

**`terser` output or error**

Same as input

**Expected result**

No comments

**More Context**

https://travis-ci.org/develo

[2019-05-29 23:15] freund17 commented on #335
I was able to reproduce this in `4.0.0`.

One note, because it tripped me off initially:
It is expected to be `c.dispose()` because of `function test(t,c)`, not because of `catch(c)`.
The use of the variable name `c` in the `catch` is actually wrong.

[2019-05-30 09:44] freund17 opened #354 "[bug] immediately invoked function and variable-name collision"
**Bug report**

My second attempt on reproducing this bug... (first attempt: https://github.com/terser-js/terser/issues/352).
I think I got it this time around...
No idea what to title this issue though...

**Version (complete output of `terser -V` or specific git commit)**
terser 4.0.0

**Complete CLI command or `minify()` options used**
terser --compress

**`terser` input**

[code]

**`terser` o

[2019-05-30 09:48] freund17 commented on #354
With the outer function dropped - works:

**`terser` input**

[code]

**`terser` output**

[code]
*(Prettified)*

[2019-05-30 09:49] freund17 commented on #354
With the unused variable, `A`, renamed to `X` - works:

**`terser` input**

[code]

**`terser` output**

[code]
*(Prettified)*

[2019-05-30 09:51] freund17 commented on #352
My second attempt in catching this: https://github.com/terser-js/terser/issues/354

[2019-06-01 18:43] fabiosantoscode commented on #351
Great point, thank you for your report. The AST classes should be exported. Note that in Terser 4 the AST had some changes, we changed from the bespoke Dictionary class to ES6 Maps and Sets.

[2019-06-01 18:46] fabiosantoscode commented on #354
Oh my, this looks like a tough and serious one. Thanks for the repro :)

[2019-06-01 18:48] fabiosantoscode commented on #353
Interesting. Thanks for the report!

[2019-06-01 18:58] fabiosantoscode commented on #335
Thank you very much for the report.

[2019-06-02 10:21] mischnic opened #358 "from_mozilla_ast with function param default destructuring"
**Bug report or Feature request?**

Bug: `TypeError: y.definition is not a function`

**Version (complete output of `terser -V` or specific git commit)**

terser 4.0.0

**Complete CLI command or `minify()` options used**

[code]

**`terser` input**

[code]

API usage:

[code]

**`terser` output or error**

Using the acorn AST doesn't work. Calling terser with the source string works:
[code]

**Exp

[2019-06-02 11:18] fabiosantoscode commented on #350
I like this feature. It doesn't like a lot of lines of code, for a quite significant benefit. Thanks for this issue!

[2019-06-02 21:41] mischnic commented on #358
This is the AST generated by `terser.parse` (no error minifying that):
[code]
The marked line is missing from the AST returned from `terser.AST_Node.from_mozilla_ast`

[2019-06-03 15:42] roblan commented on #354
@fabiosantoscode looks a little like https://github.com/terser-js/terser/issues/294 and https://github.com/terser-js/terser/issues/308

and there is already MR for that: https://github.com/terser-js/terser/pull/320

[2019-06-03 19:45] syranide commented on #340
@richplastow Google Closure Compiler explicitly mentions not doing string interning or these kinds of tricks, because it affects performance and should mostly have little impact on the actual gzipped size. As gzip itself is quite good at coding repeated sequences efficiently. Being as the GCC-people should by nature have pretty good relations with the Chromium-team I would think they have good rea

[2019-06-04 11:03] L2jLiga commented on #358
I guess this stacktrace will be more usefull:

[code]

It seems like just adding check that `sym.definition` is not undefined solves issue.

[2019-06-04 11:36] L2jLiga commented on #358
The difference is when we use `from_moz_ast` it defines default parameter assignment as AST_Binary instead of AST_DefaultAssignment

[2019-06-04 15:19] HackbrettXXX opened #361 "Named functions declared as variable broken"
**Bug report or Feature request?**
Bug report
**Version (complete output of `terser -V` or specific git commit)**
4.0.0

**Complete CLI command or `minify()` options used**
minify()

**`terser` input**
[code]
**`terser` output or error**
[code]
**Expected result**
[code]
The name of the function and the recursive call are renamed incorrectly. Note that this error only occurs when there are imports

[2019-06-04 15:57] mischnic commented on #361
Happens without imports as well:
[code]

Result of `echo "var func = function func() {func()};" | terser --mangle`:
`var func=function n(){n()};`

[2019-06-05 03:21] L2jLiga commented on #361
What's the problem? It works perfectly fine (except `RangeError: Maximum call stack size exceeded`)

**command**: terser -cm input.js -o output.js

*input.js*:
[code]

*output.js*:
[code]

[2019-06-05 07:39] HackbrettXXX commented on #361
The `n` in the recursive call is not defined. When you both define a function as variable as well as give it a name, the name of the function will not be a variable in the scope, which results in a "n is not defined" exception.

[2019-06-05 07:43] L2jLiga commented on #361
Still did not get it

[code]

[2019-06-05 07:52] L2jLiga commented on #354
@roblan, #320 did not fix issue. I've just checked it, output same to master for given input

[2019-06-05 09:29] fabiosantoscode commented on #354
Damn, I got my hopes up :(

[2019-06-05 10:35] L2jLiga commented on #354
Hey, dont give it up!

[2019-06-06 05:40] roblan commented on #354
Sorry :(

[2019-06-06 06:46] L2jLiga commented on #354
PR created

[2019-06-06 18:06] sdll opened #364 "[bug] Mangling breaks the code"
# **Bug report**

**Version**

`rollup-plugin-terser@5.0.0`

**`minify()` options used**

https://github.com/tensorflow/tfjs-models/blob/8f9a0e1de5ebf74742e6f5ad59d0f9c8704bfe06/deeplab/rollup.config.js#L44

**`terser` input**

See https://github.com/tensorflow/tfjs-models/pull/229.

**`terser` error**

When mangling is enabled, running the [demo](https://github.com/sdll/tfjs-models/tree/models/de

[2019-06-07 11:40] #358 closed

[2019-06-07 11:45] fabiosantoscode opened #365 "test minifying spidermonkey/input.js as a spidermonkey conversion test."
**Bug report or Feature request?**test request

**Version (complete output of `terser -V` or specific git commit)**master

**Complete CLI command or `minify()` options used** N/A

There needs to be a test that exercises minifying code taken from the spidermonkey AST

[2019-06-07 11:55] fabiosantoscode commented on #361
Maybe I'm being blind, but I can't see the problem either.

[2019-06-07 11:57] fabiosantoscode commented on #361
Sorry, accidentally clicked close.

The names of functions are declared in that function's scope and your code should function exactly the same. Please inform me if I'm incorrect.

[2019-06-07 12:02] HackbrettXXX commented on #361
Yeah, you are right. Apparently the name of the function is in the scope within the function itself, but not outside. I can't reproduce the bug currently. Maybe it's an issue of webpack, actually. I got the error in a setting with rollup+terser and webpack afterwards and something in that pipeline produces incorrect code. At first I thought it this was a bug, but it appears it is not. So you can s

[2019-06-07 12:44] fabiosantoscode commented on #364
Hello there! Please try to reproduce the issue with a small code example so we can get to it.

[2019-06-07 15:13] TrySound commented on #364
@sdll Does disabling collapse_vars solve your problem?

[2019-06-07 15:24] sdll commented on #364
@fabiosantoscode, I will get back when I have more bandwidth.

@TrySound, thank you for the suggestion! Everything works well with `compress` set to true, problems arise only when mangling is enabled. When `collapse_vars` is disabled, but mangling is enabled, the demo still fails with `TypeError: (0 , t.tidy) is not a function`. I could not find `(0 , t.tidy)` in the minified `deeplab.esm.js`, doe

[2019-06-07 15:32] fabiosantoscode commented on #364
@sdll also have you tried disabling the module:true option? I don't remember whether rollup-plugin-terser minifies every little module or if it minifies the whole thing in the end. If it's the former, you need module:true. If it's the latter, you need module:true in your ejs bundle and module:false in your CJS bundle.

[2019-06-07 15:39] sdll commented on #364
Alas, @fabiosantoscode, `module: true` does not fix the issue, the demo fails with the same trace.

[2019-06-07 15:50] fabiosantoscode commented on #364
Also Terser does not minify or know about node_modules.

[2019-06-07 15:54] TrySound commented on #364
Plugin runs terser for each chunk

[2019-06-07 18:42] #361 closed

[2019-06-08 07:32] artola opened #366 "options modified on minify"
**Bug report or Feature request?**
BUG

**Version (complete output of `terser -V` or specific git commit)**
V4.0.0

[code]

**`terser` output or error**
Not simple detectable but produce unexpected results.

**Expected result**
Options passed should not be modified, else cloned before further use. Modified options and reuse leads to `ERROR Converting circular structure to JSON` in other tools.

I

[2019-06-08 09:09] fabiosantoscode commented on #366
Very well. We can do a deep copy too. I thought there was some obscure corner of uglifyjs that mutated something and then returned it.

This will ellicit a major release.

[2019-06-09 19:56] DominicTobias opened #367 "Multiple input sourcemaps"
**Bug report or Feature request?**

Feature request

Hi, thank you very much for maintaining terser. I am trying to concatenate multiple compiled JS files, each file has a source map e.g:

base.js + base.map.js
button.js + button.map.js

While we can specify multiple inputs, there doesn't appear to be a way to specify multiple source maps, is this correct? And if this is anything like uglify, it d

[2019-06-10 08:48] L2jLiga commented on #367
Terser supports inline sourcemap

[2019-06-10 08:50] DominicTobias commented on #367
Ok I’m going to close this but I don’t want to use inline source maps on the production bundles but still want to allow users to easily debug if they want. Anyway thanks, I will go for an alternative

[2019-06-10 08:50] #367 closed

[2019-06-12 18:32] GrosSacASac commented on #349
it is not yet a standard (not ES2018)
see https://github.com/tc39/proposals/blob/master/finished-proposals.md for a list of finished proposals

[2019-06-13 09:50] tinymins opened #369 "[BUG] Fatal logic error when modify function argument by function define statement."
**Bug report or Feature request?**
Bug report.

**Version (complete output of `terser -V` or specific git commit)**
terser 4.0.0

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**
[code]

**`terser` output or error**
[code]

**Expected result**
[code]
or
[code]
or
[code]

**Link**
https://github.com/tinymins/terser/blob/issue-369/test/compress/issue-369.js
https://gith

[2019-06-16 11:19] fabiosantoscode commented on #369
Thank you very much for your report and the test!

Does this occur even if you specify different variable names for the argument `ret` and the function `ret`? If so this is high priority.

[2019-06-16 11:22] tinymins commented on #369
@fabiosantoscode Yes, in my test file the argument name is `a`. https://github.com/tinymins/terser/blob/issue-369/test/compress/issue-369.js

[2019-06-16 11:31] tinymins commented on #369
I'm not sure if I got a misunderstanding.

The bug is, if you assign the argument by define function statement, `unused` and `collapse_vars` config will cause compress error. The compressor think the define statement is an unused code block, and will remove it.

[2019-06-16 16:31] GerholdtSchnaps opened #371 "syntax error on class static property"
nodejs 6.9.0
terser 4.0.0
Win10 x64

terser --compress --mangle -- input.js
Parse error at input.js:LINE,COLUMN
static PROP_NAME = "Some string message.";
ERROR: Unexpected token: operator (=)

var Singleton = class
{
    static PROP_NAME = "Some string message";
    static FUNC_NAME () { return false; }
};

[2019-06-16 16:52] Conduitry commented on #371
As far as I know, class fields are still stage 3. Historically, Terser has not implemented things until after they are officially accepted.

[2019-06-16 20:17] fabiosantoscode commented on #369
Got it. This is low priority as I don't see too many people creating functions that are the same name as variables which already exist.

[2019-06-16 21:00] fabiosantoscode commented on #371
That is correct. This is something that I personally hope never gets implemented even though I use it a lot on my day job. There's already an issue for this so I'm closing. Thanks for the report!

[2019-06-16 21:00] #371 closed

[2019-06-17 01:11] #351 closed

[2019-06-17 01:19] tinymins commented on #369
Yep, I also think nobody will code like this.
But I triggered this bug by using a 3rd-party dev tools. I have to disable 'collapse_vars' config for using this tool.  https://eruda.liriliri.io/
I don't know why they write this kind of code:  https://github.com/liriliri/eruda/blob/8027c2435ca78f91927121e18faa78292b27e0bf/src/lib/util.js#L1272 , maybe it was created by `webpack` module wrapper?

[2019-06-17 07:41] TrySound commented on #369
@fabiosantoscode lodash is one of the popular libraries. Similar problem with collapse_vars.
https://github.com/terser-js/terser/issues/333

[2019-06-21 09:22] maxloh opened #375 "Generated source map pointed to a wrong directory"
**Bug report or Feature request?**

Bug report

**Version (complete output of `terser -V` or specific git commit)**

terser 4.0.0

**Complete CLI command or `minify()` options used**

[code]

**`terser` output or error**

app.js.map
[code]

**Expected result**

app.js.map
[code]

Generated source map actually pointed to files within `.\assets\js\assets\js\` which is a wrong directory.

[2019-06-24 14:36] mstruensee opened #378 "key/option to use for mangle for unique output"
**Feature request? Functionality Exists?**
**Version - latest**

I have been digging through the documentation and the source code trying to see if this is possible ... correct me if I am wrong ... Is there a flag I can pass (in my scenario I would like to pass package.version, or use the concept of "content-hash") so I can get a different minified/mangled output (params, function names, etc) each

[2019-06-26 16:28] fabiosantoscode commented on #378
Hello there!

There is no such functionality, and I can't see the need for Terser to have this. We had a feature request to "write things" with the mangler, like `(function(h,e,y,a){ /* ... */ })(foo, bar, document, undefined)` which is also pretty unnecessary so I don't see Terser having that soon either.

[2019-06-26 16:28] #378 closed

[2019-06-26 18:50] #369 closed

[2019-06-26 18:51] fabiosantoscode commented on #375
Hello there :) thanks for reporting this issue!

[2019-06-26 19:16] mstruensee commented on #378
Thanks for the info!

[2019-06-27 01:39] jhpratt commented on #349
@GrosSacASac It's stage 3, which is when proposals typically start shipping — it's already shipped in Chrome. I'm currently using Babel to transform private fields, but as soon as Firefox and Safari land, I'm ditching that in favor of _actual_ private fields; that would then necessitate a minifier capable of handling them.

[2019-06-27 13:58] Connormiha opened #379 "[bug] second argument with ...arg converts to 'void 0'"
**Bug report or Feature request?**
Bug.
I always get error with `!(void 0).someProp`, because `Uncaught TypeError: Cannot read property 'someProp' of undefined`

**Version (complete output of `terser -V` or specific git commit)**
4.0.0
**Complete CLI command or `minify()` options used**
[code]

**`terser` input**
[code]

**`terser` output or error**
[code]
**Expected result**
[code]

[2019-06-29 12:50] fabiosantoscode commented on #347
Terser has an unsafe mode, which does turn `new Array` into `[]` (and variations of calls to the Array constructor), but this is different, since it involves creating a new string just to split it apart. It means that more memory will be used than initially required, especially if the array is very large. If the code is run multiple times this array split is run multiple times as well, allocating

[2019-06-29 12:50] #347 closed

[2019-06-29 13:53] fabiosantoscode commented on #364
TL;DR: possible workarounds

1. Use `mangle: { reserved: ['tf'] }` to ensure `tf` is never mangled.
2. Put the `rollup-plugin-node-resolve` plugin after the terser plugin (not sure if this will work)

@sdll in your rollup config, there's a line that says that imports to `@tensorflow/tfjs` should be redirected to the global variable `tf`.

https://github.com/tensorflow/tfjs-models/pull/229/files#di

[2019-06-29 13:56] fabiosantoscode commented on #345
Did things work over HTTP @stevenvachon? I'm not too happy to support the `file://` use case :/

[2019-06-29 14:08] fabiosantoscode commented on #327
Hey @syranide :) I'm shipping a new version with this issue fixed. Thanks for your report.

[2019-06-29 14:09] #327 closed

[2019-06-29 14:14] sdll commented on #364
@fabiosantoscode, thanks for looking into the issue!

1. Adding `mangle: { reserved: ['tf'] }` did the trick, and the demo rolls smooth.
2. Reordering the plugins to load `rollup-plugin-node-resolve` last by itself did not fix the problem.
3. Doing both works as well.

I will stick to reserving `tf`, thank you so much for your help and time!

[2019-06-30 05:03] sodatea opened #380 "Version 4.0.1 breaks sourcemap and throws an error"
**Bug report or Feature request?**

**Version (complete output of `terser -V` or specific git commit)**

4.0.1

**Complete CLI command or `minify()` options used**

I haven't found the actual cause yet but there are bug reports from Vue CLI & Gatsby claiming fresh installs failed due to a source map error, and can be fixed by downgrading terser to v4.0.0 (tested in the Vue CLI project).

Related:

[2019-06-30 05:14] sodatea commented on #380
ping @fabiosantoscode

[2019-06-30 07:12] sodatea commented on #380
The direct cause: https://github.com/terser-js/terser/commit/7d47254125d8dc3c6eb9f762e42a675ff9582b13
The root cause: https://github.com/mozilla/source-map/issues/385

[2019-06-30 18:25] lukeed commented on #380
Current `yarn` workaround is to add the following inside your `package.json` file:

[code]

I don't know of an equivalent for `npm` but there's likely something~

[2019-06-30 19:09] kaito0228 commented on #380
I encountered this issue related by webpacker(ruby wrap webpack).
The version of terser has been changed to 4.0.1 => 4.0.0.
`yarn add terser@4.0.0`
I hope this bug is fixed.

[2019-06-30 21:00] fabiosantoscode commented on #380
:/ This issue has reached my attention and I'll be temporarily reverting the offending PR.

Thanks @sodatea for investigating the precise cause of the bug down to the commit hash :heart: it's very appreciated.

[2019-06-30 21:10] #380 closed

[2019-06-30 21:41] fabiosantoscode commented on #364
@TrySound do you think this might be an issue on Rollup's end or just misconfiguration?

[2019-06-30 22:29] TrySound commented on #364
@sdll Could you provide gist with minified output?

[2019-07-01 07:38] JoelEllis commented on #347
Fair enough. Thought it might be a useful idea, because of the space it saves on download time.

Also, from my basic understanding this will never more than double the memory usage of just an array (and the string will be GCed on the first cycle), because the string is a single box (chunk of RAM with padding around it to change the size) whilst the array has to have a box for each element to chang

[2019-07-01 10:03] sdll commented on #364
@TrySound, do you mean the stack trace with which the demo fails?

[2019-07-01 11:01] TrySound commented on #364
This error is runtime, right? I need to see the code which is fails.

[2019-07-01 11:19] sdll commented on #364
@TrySound, correct, the [demo](https://github.com/sdll/tfjs-models/tree/models/deeplab) fails with the error described above if mangling is set to `true`.

Working example:

https://gist.github.com/sdll/1045f53a48856a6b7f17106b144f6c7f

Failing example:

https://gist.github.com/sdll/0054bc4248207654779e7bdf94ff8e88

If you want to run the demo yourself, first do `yarn publish-local` in the project

[2019-07-01 12:59] TrySound commented on #364
You sure they are not the same?

[2019-07-01 13:01] sdll commented on #364
@TrySound, my bad. Fixed now.

[2019-07-02 13:26] mourner opened #385 "Upgrade source-map & drop Node v6"
**Bug report or Feature request?**  Performance improvement.

**Version (complete output of `terser -V` or specific git commit)** v4.0.2

Profiling bundling time of a large project, I noticed that a significant portion of Terser running time is taken by source map generation. Terser currently uses `source-map` v0.6.1, which is quite slow — later versions should be [up to 11x faster](https://hacks.

[2019-07-02 13:31] mourner commented on #385
Or, alternatively (although this would require more effort), switch from `source-map` to [magic-string](https://github.com/Rich-Harris/magic-string), which is very fast and powers tools like Rollup.

[2019-07-02 21:20] fabiosantoscode commented on #385
Those are some interesting facts! Thanks for bringing this up :)

I love magic-string! But it doesn't really fit what we're doing in Terser. We really have to use an AST.

I plan to update source-map anyway when they fix https://github.com/mozilla/source-map/issues/385, so I'll do that when the fix lands and get the performance update for free. Sad about having to drop node 6 but hey, we have to m

[2019-07-03 03:11] L2jLiga commented on #333
After investigations seems like this issue gone when `module: true`

command: `terser issue-333.js -c --module`
input same
output:
[code]

[2019-07-03 09:35] TrySound commented on #333
@L2jLiga Is it master or latest published version? I still get broken output with latest version.

[2019-07-03 09:56] L2jLiga commented on #333
I checked it on master branch, I guess (I have to recheck on which branch I was)

[2019-07-03 10:09] L2jLiga commented on #333
Hmm, I was wrong.. I took input from https://github.com/terser-js/terser/pull/343 and it's work with `module: true` but given in this issue example does not

[2019-07-03 10:21] TrySound commented on #333
I guess I oversimplified test

[2019-07-03 11:00] L2jLiga commented on #333
That's it: https://github.com/terser-js/terser/pull/388

[2019-07-03 12:30] mourner commented on #385
@fabiosantoscode I tried to get more specific numbers but it looks like in my case the whole source map handling only takes ~14% of the total time. I've been misled by the following profile, where the garbage collection pause probably just happened at an unfortunate time:

![image](https://user-images.githubusercontent.com/25395/60588928-dd060c00-9da0-11e9-858b-f06530cfc888.png)

So, given that th

[2019-07-03 14:31] fabiosantoscode commented on #385
Hey, no reason to close it either :) I'm still interested in dropping node 6 and upgrading source-map so it's useful to keep the issue around.

[2019-07-03 15:43] Conduitry commented on #385
Are later versions of `source-map` async? I believe this is why Svelte is staying on an older version - we want the compilation to stay synchronous. Is it important to keep Terser's minification sync?

[2019-07-03 16:10] L2jLiga commented on #385
Yeah, you're right, `source-map` >= 0.7.0 are async. I think we can deal with it. At least `async`/`await` (which available in node 8+) let us to write code in synchronous style.

I hope sometime we will switch to newer source-map.. just thinking out loud

[2019-07-03 21:44] fabiosantoscode commented on #385
Damn. I don't want to go async. Think of the work every user of this library would have to do!

[2019-07-03 21:55] fabiosantoscode commented on #385
The original purpose of this library was to be a drop-in replacement for uglifyjs, even if it breaks compatibility with old node versions I don't want to change the general interface of the library. It makes it more useful, and doesn't push work to library users, most importantly maintainers of tools which use Terser. I want to make life easy for them.

I'm guessing there's many more tools and scr

[2019-07-03 21:58] fabiosantoscode commented on #385
But I'm confident we can find a good solution for this. I'm going to have a look at what we can do.

[2019-07-03 22:02] #333 closed

[2019-07-04 08:38] boris-petrov opened #390 "Terser doesn't compute constant string lengths"
**Bug report or Feature request?**

Feature request

**Version (complete output of `terser -V` or specific git commit)**

terser 3.17.0

**Complete CLI command or `minify()` options used**

`./node_modules/.bin/terser foo.js`

**`terser` input**

[code]

**`terser` output or error**

Same as input

**Expected result**

[code]

This is a nice optimization that could be made I guess.

[2019-07-04 08:52] fabiosantoscode commented on #390
This would be neat indeed, but I don't think the cost/benefit ratio pays off here.

More code means more things to maintain, and unless it brings some real benefit to the final kb size I'm not going to do it.

[2019-07-04 08:52] fabiosantoscode commented on #390
This would be neat indeed, but I don't think the cost/benefit ratio pays off here.

More code means more things to maintain, and unless it brings some real benefit to the final kb size I'm not going to do it.

[2019-07-04 08:52] #390 closed

[2019-07-04 09:02] boris-petrov commented on #390
Well, this is a win in both runtime performance and file size... not very much of course, but win-win.

Anyway, thank you for supporting Terser!

[2019-07-04 19:03] evilebottnawi commented on #385
Maybe just implement `Terser.asyncMinify?

[2019-07-05 00:28] L2jLiga commented on #385
@evilebottnawi, I didn't get your idea

Terser uses `source-map: 0.6.z` - sync version, while `source-map` >= `0.7.0` - async, how we can have both at same time to provide sync and async APIs ?

[2019-07-05 10:32] evilebottnawi commented on #385
@L2jLiga hm, you are right, in theory we can use `fibers`, but i think it is not good idea, need investigate, maybe it can be improved on source-map side

[2019-07-05 12:45] ma2ciek commented on #348
@fabiosantoscode, could you provide some insights were the bug might be located? Maybe I'll be able to dig a little bit into it and try to fix it.

[2019-07-06 10:30] fabiosantoscode commented on #385
We're definitely going to stay sync. I don't want major breaking changes on an age-old interface. Minor breaking changes are OK if justified. This is not even justified. We're just generating a string. Mozilla is doing great by moving onto WASM with source-map but we need a pure javascript solution in this project.

@Conduitry maybe you know the behind-the-scenes reason why Svelte is not using thi

[2019-07-06 11:14] Conduitry commented on #385
`sourcemap-codec` is already used by Svelte, by way of `magic-string`.

I double-checked Svelte's use of `source-map`, and it looks like it's actually only currently used during tests. (Some tests are using its `SourceMapConsumer`.) I was probably confusing this with a potential unimplemented future feature that would use `source-map` in the compiler, where the async-ness of later versions would b

[2019-07-06 11:15] fabiosantoscode commented on #348
The standard procedure is to disable the "defaults" option so that you can enable and disable compress options, which act as feature flags for Terser. When you find the feature that's actually guilty of this change, you grep for it in the `lib/compress/index.js` file. It has a lot of conditions like `if (compressor.option("unsafe"))` and inside those conditions is the code that runs when that opti

[2019-07-06 11:44] fabiosantoscode commented on #385
Seems to me like sourcemap-codec is a serious contender then

[2019-07-06 13:32] #324 closed

[2019-07-06 13:39] #308 closed

[2019-07-08 17:07] gdh1995 opened #396 "duplicated comment lines"
**Terser version**: v4.1.2

**src**: `input.js`

[code]

**command line**: `./node_modules/.bin/terser --comments=all input.js`

**real output**:

[code]

**expected output**:

[code]

**debugging**:

I find this bug is only triggered when the following line starts with a '`(`'.

[2019-07-09 07:31] gdh1995 commented on #396
The code below may be to blame: it breaks an assumption in output.js that `start.comments_before` and `last_end.comments_after` should be the same array (required by `._dumped === self` checks).

https://github.com/terser-js/terser/blob/e73277e82cfe756a35e424564ce3ab5da559c1d6/lib/parse.js#L2211-L2215

[2019-07-09 14:20] gdh1995 opened #397 "properties are not mangled if it's in a deferred top level object"
**Bug report or Feature request?** Bug report

**Version (complete output of `terser -V` or specific git commit)** from v3.14.1 to the latest v4.1.2

**code to run**

[code]

**expected result**

[code]

**real result**

[code]

**why this is a bug**

In a real case, if a `Bar` is defined in some later files, I want to pre-define `Bar` to make `terser` uglifiy this name, and I also want to uglify

[2019-07-09 16:08] gdh1995 commented on #397
The old issue message is here: it's too long and somehow incorrect, so I move it here just to archive it.

**description**

When I compiled Vimium C at commit https://github.com/gdh1995/vimium-c/commit/c7cb108d33ecc5bd83dad509f777158f639e3e03 using different versions of terser, the terser v4.1.2 cause null pointer exception, and after debugging, I found some properties are not mangled unexpectedly

[2019-07-10 14:32] sirian opened #398 "Drop unused args for `new` calls"
Is it possible to drop unused args of new calls? Like in function calls

**Version 4.1.2**

**Complete CLI command or `minify()` options used**
` terser -b -c --toplevel -m`

**`terser` input**
[code]

**`terser` output or error**
[code]

**Expected result**
[code]

[2019-07-14 16:47] RunDevelopment opened #399 "Newlines in evaluated RegExp literals are not escaped"
**Bug report**

When compression code of the form `RegExp("any string literal")`, new lines are not escaped resulting is syntactically incorrect code.

**Version**
terser 4.1.2

**Complete `minify()` options**
[code]

**`terser` input**
[code]

**`terser` output**
[code]

**Expected result**
[code]

[2019-07-14 19:30] RunDevelopment opened #400 "Feature request: Evaluate RegExp properties"
**Feature request**

While `toString` on RegExp literals is evaluated, all [other properties](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp#Properties_2) are not.
It would be nice if `flags`, `dotAll`, `global`, `ignoreCase`, `multiline`, `source`, `sticky`, and `unicode` were also evaluated.

**`terser` input**
[code]

**`terser` output**
Same as input.

[2019-07-15 17:11] tchetwin commented on #349
See https://github.com/terser-js/terser/pull/326 for work on public class fields

[2019-07-16 10:09] fabiosantoscode commented on #399
Fascinating. Thank you very much for your report. The toString method is trolling us :) `source` also has `\n` in it.

[code]

You'll find that in node 12 only the first `\n` finds its way through.

I'll have a look, but this is yet another reason to save parsed regex values in string form.

[2019-07-16 10:23] RunDevelopment commented on #399
Well, `toString` and `source` aren't really trolling. For the internal RegExp parser, a newline is just another regular character with no special meaning and `toString` and `source` just reflect that.

[2019-07-16 11:54] fabiosantoscode commented on #399
True. But if you create the equivalent regular expression using a regex expression the newlines are escaped in the string representation. Inconsistent behaviour at least.

[2019-07-16 12:10] RunDevelopment commented on #399
That's true. That means that the expected result I gave is incorrect as the string representation of `/\nfo\n[\n]o\bbb/` and `RegExp("\\\nfo\n[\n]o\\bbb")` is different even though they are semantically the same.

In this case, the actual expected result would have to be:
[code]

[2019-07-16 18:11] fabiosantoscode commented on #398
Terser doesn't run any of the code, so it's pretty hard to tell what arguments a function will take. Also, adding extra arguments is usually programmer error, so I don't want to add code to Terser to accomodate for that.

[2019-07-16 18:11] #398 closed

[2019-07-16 20:16] fabiosantoscode commented on #396
Hey there :) I had a look at this but it looks tricky. I can't fix it so fast.

Your suggestion about what might be wrong is on point. Terser is a bit big. I don't know what that code is doing :S

Thanks for the report.

[2019-07-16 20:35] fabiosantoscode commented on #397
Hey there!

Nice extension :)

What you described is not exactly a bug. Terser has no way of knowing whether lowercase `bar` is a property that exists.

What I found though, is that if I create another artificial file and use `Bar.bar` in any way, Terser does not "find out" that `bar` is a property, so it doesn't minify `.bar` in the third code example. Like this:

[code]

I suppose this is the bu

[2019-07-17 05:17] gdh1995 commented on #396
Why not mark `._dumped` on every comment token? I think it has little speed impact and may reduce the logic amount you have to remind yourself of.

[2019-07-17 05:23] gdh1995 commented on #396
BTW, I found this issue because:
* at first, I used `passes=2`, but then terser would embed (and broadcast) some constant values to all places they're used
  * for example, I extracted a constant string literal to a closure, but terser would re-embed it
  * as a result, the result package size increased
* so I decided to call `terser.minify(code)` twice, and use an option of `mangle=null` at the s

[2019-07-17 05:40] gdh1995 commented on #397
Thanks.

#### idea 1

If it's hard to tell whether a variable is from outsides, I think a new option may be suitable to leave this problem to final users.

#### idea 2

For the project I mentioned above, it's in TypeScript and I've applied many "strict" rules, so I have a terser config looking like this:
[code]

And in my tests, only those global variables name which starts/ends with "_" will be m

[2019-07-17 06:00] gdh1995 commented on #350
I also expect this, because currently I have to disable the `reduce_funcs` option, in order to avoid too many temporary functions in closures.

[2019-07-17 23:23] christopherthielen opened #401 "Incorrect code generated with IIFE and variable name longer than 5 chars"
**This is a Bug report**

**Version (complete output of `terser -V` or specific git commit)**

```terser 4.1.2```

**Complete CLI command or `minify()` options used**

```npx terser --beautify -c dead_code=false < terser-input.js```

**`terser` input**

This input was extracted and simplified from some production code that was unexpectedly removed from our app via `dead_code`.

[code]

**`terser`

[2019-07-18 02:09] prakasa-tkpd opened #402 "[ASK] - Im stuck on replace string in var only"
Just want to ask, how to replace only for newline if I have js file with content like this:
[code]

the result always:
[code]

How to create:
[code]

[2019-07-20 17:45] 0b10 opened #403 "Anonymous functions cannot be parsed: Terser.parse()"
**Bug report or Feature request?**
Bug report

"Note: sub-optimal but correct code is NOT a bug."
Anonymous functions may be sub-optimal, but shouldn't it still parse?

**Version (complete output of `terser -V` or specific git commit)**
terser 4.1.2

**Complete CLI command or `minify()` options used**
N/a

**`terser` input**

Example 1
[code]

Example 2
[code]

Example 3
[code]

**`terser` output

[2019-07-21 10:56] L2jLiga commented on #403
Hello there, nothing wrong with Terser.

You can use anonymous functions as arguments, in IIFE, but you can't declare Function statement without name by specification.

[2019-07-21 11:02] L2jLiga commented on #402
Hi there,

If I understand you correctly then string modifications is out of Terser's scope. We definitely can't change strings as it absolutely unsafe.

[2019-07-22 01:06] dceddia opened #404 "Both bundle.js and bundle.min.js included in dist"
**Bug report or Feature request?**

Bug, probably?

**Version (complete output of `terser -V` or specific git commit)**

terser 3.17.0

**Complete CLI command or `minify()` options used**

[code]

I might be wrong about this, but does terser need to include both the `bundle.js` *and* the minified `bundle.min.js` along with both of the .map files? Looking at `package.json`, the "main" file is `dist

[2019-07-22 11:39] ma2ciek commented on #348
But the only thing that is used is `passes: 2` - I guess it's not an *unsafe* option. I haven't set the `unsafe: true` flag which is mentioned in the docs (https://github.com/terser-js/terser#the-unsafe-compress-option).

[2019-07-22 11:40] ma2ciek commented on #348
The weird thing is that with the `"passes": 1` the produced code is correct and further minifications don't break it.

[2019-07-22 12:46] ma2ciek commented on #348
I guess that the error is somewhere in the `collapse()` function in the `compress/index.js` file, but it's hard for me to debug this function as its body is full of implicit globals and with almost no comments 😞

[2019-07-22 12:47] ma2ciek commented on #348
[code]

I guess that the last ones cause the error (`WARN: Collapsing t [input.js:3,13]`, `WARN: Collapsing t [input.js:4,22]`).

[2019-07-22 15:28] fabiosantoscode commented on #403
Hey there :) anonymous functions are expressions, not statements. Terser is failing to parse because an anonymous function expression is not a valid JS program. If you want to parse an anonymous function you need to wrap it in parentheses.

[2019-07-22 15:28] #403 closed

[2019-07-24 15:00] nolanlawson opened #405 "RegExp.prototype.test not detected as pure function"
**Bug report or Feature request?** Feature request

**Version (complete output of `terser -V` or specific git commit)** 4.1.2

**Complete CLI command or `minify()` options used** `terser -mc`

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

[code]

I would expect that the first and second regex `.test()` calls could be removed, because `RegExp.prototype.test(

[2019-07-25 03:54] juliancarrivick opened #406 "Call stack size exceeded for recursive function"
**Bug report or Feature request?** Bug report

**Version (complete output of `terser -V` or specific git commit)** 4.1.2

**Complete CLI command or `minify()` options used**
terser --compress --toplevel

**`terser` input**
[code]

**`terser` output or error**
Full file paths removed for ease of reading
[code]
**Expected result**
If I switch the function call to be after the function declaration, i

[2019-07-25 20:29] MarshallOfSound opened #407 "function/object inlining breaks loose equality checks on default parameters that are inlined"
**Bug report or Feature request?**

Bug

**Version (complete output of `terser -V` or specific git commit)**

`4.1.2`

**Complete CLI command or `minify()` options used**

[code]

**`terser` input**

[code]

**`terser` output or error**

[code]

Beautified for readability

[code]

**Expected result**

The default param if it isn't a primitive (is an object/function) shouldn't be inlined.  E.g.

[c

[2019-07-25 23:01] fabiosantoscode commented on #401
Hello there!

Thank you for the bug report and for sharing the results of your investigation!

This looks like a tricky one.

[2019-07-26 04:45] sokra commented on #407
This is not directly related to default arguments. Seems like any case of inlining functions into other functions is broken:

[code]

[code]

---

This is also not directly related to the `toplevel` option as you could put the code into a IIFE to cause the problem.

[2019-07-26 05:10] MarshallOfSound commented on #407
@sokra Haha your timing is perfect, I just came here to add I have a repro without `toplevel`.

[code]

I'm surprised this isn't causing more issues with things like react hooks (that's where I first discovered it).

[2019-07-28 00:14] jhpratt opened #408 "Edge case: converting `foo === null || foo === undefined` with `foo == null` is not safe"
**Bug report**

**Version**: 3.17.0

**Complete CLI command or `minify()` options used**

**`terser` input**:

[code]

**`terser` output or error**

[code]

**Expected result**

[code]

`document.all` returns an `HTMLAllCollection`, which per the [WHATWG specification](https://html.spec.whatwg.org/multipage/common-dom-interfaces.html#the-htmlallcollection-interface), matches `== null`

[2019-07-28 14:20] fabiosantoscode commented on #402
That's right. We could have some sort of macro system where you would provide a template string and Terser would modify it so as to replace it with another value, but that's not in Terser's scope. Yet.

[2019-07-28 14:20] #402 closed

[2019-07-28 14:22] fabiosantoscode commented on #404
I very much agree with you. We just assumed bundle.js was going to be useful for something, but it wasn't.

[2019-07-28 14:32] fabiosantoscode commented on #404
I'm going to take this chance to get rid of the separate test bundle and provide exports starting with `_` because everyone understands those are not part of the API.

[2019-07-30 16:50] SetTrend opened #410 "Minification inadvertently converts ISO-8859-1 non-ASCII characters to UTF-8"
# Bug Report

Non-ASCII characters in a string literal from a UTF-8 JavaScript file are inadvertently converted to their UTF-8 counterparts. Minifying string literals in a UTF-8 Javascript file should not alter the text's non-ASCII characters.

- Operating system: Windows 10x64
- Node version: v10.3.0
- NPM version: 6.1.0
- Terser version: terser 4.0.0

### Code

See [this sample repository](/SetT

[2019-07-31 08:36] #294 closed

[2019-07-31 08:36] #354 closed

[2019-07-31 12:52] L2jLiga commented on #401
Just tried on *latest master*, it looks like issue solved:

*CLI command*:
`terser issue.js --beautify -c`

*input*:
[code]

*output*:
[code]

output suboptimal, but correct

[2019-08-02 23:07] fabiosantoscode commented on #410
Everything is working as designed. The latin-1 character ä happens to be identified with the same code in unicode. The strings are exactly the same, but the actual `ä` accounts for less bytes in the output. Which in terser is utf-8 and there will never be an option to change that.

If you don't want Terser to convert things to unicode for you there's an output option for that, `ascii_only`!

[code

[2019-08-02 23:09] fabiosantoscode commented on #408
This is why people hate javascript lol

[2019-08-02 23:10] fabiosantoscode commented on #408
I'm not very happy to change Terser's behaviour here, but someone might hit this. I'm going to add the help wanted label. I'm looking at you @rogeriopvl. This is a good first PR for you.

[2019-08-02 23:13] fabiosantoscode commented on #406
Awesome stuff, thank you for this detailed report!

[2019-08-02 23:15] fabiosantoscode commented on #401
This was probably your patch @L2jLiga :)

[2019-08-02 23:15] #401 closed

[2019-08-02 23:20] jhpratt commented on #408
@fabiosantoscode I agree it probably isn't a good idea to change the behavior, given that basically no one writes code using `document.all` nowadays, let alone needs to minify it.

This issue was really more of documentation, but also putting it out there if someone actually bothers to track usage throughout a program.

[2019-08-02 23:24] fabiosantoscode commented on #348
Yes, it's certainly collapse_vars. When I start terser with `collapse_vars=false` it doesn't do this. Thanks for digging into it!

[2019-08-02 23:29] fabiosantoscode commented on #408
I agree that nobody uses document.all nowadays. I started writing javascript using raw DOM, and even if I stayed that way for several lifetimes, I would have never found a use for document.all. I've changed my mind. I don't think this should warrant an increased file size for everything going through Terser checking for both null and undefined. I don't even think this is worth documenting.

If peo

[2019-08-02 23:29] #408 closed

[2019-08-03 08:37] SetTrend commented on #410
@fabiosantoscode 👍

Thank you for the hint!

Yet, your statement is not correct. For anything beyond ASCII (which does **not** include any character point beyond `0x7f,` as ASCII is a 7 bit character set, so the <kbd>ä</kbd> character is **not** included in ASCII) UTF-8 is defined to add a codepage switch control character plus a second character within that selected codepage. See [this page](http

[2019-08-03 20:38] SaltyMonkey opened #412 "Unexpected token: punc ()) with comma after last param in func calls"
**Bug report or Feature request?** Bug report

**Version (complete output of `terser -V` or specific git commit)** 4.1.2

**Complete CLI command or `minify()` options used**

[code]

**`terser` input**
I will share full simplified example (even it same for classes)
[code]

**`terser` output or error**

[code]

**Expected result**
Can be discussed but by logic comma supposed to be removed
`const o=

[2019-08-06 09:50] fabiosantoscode commented on #410
Sorry for the misunderstanding. Had to pull out python to reliably reproduce this.

[code]

[2019-08-06 09:55] fabiosantoscode commented on #412
Trailing commas in function calls are not an ES6 feature. You have to set the `ecma` option to at least 8 (which happens to be the default).

[2019-08-06 09:55] #412 closed

[2019-08-06 12:42] ekarlsso opened #416 "Upgrading terser to 4.1.3 genrates in webpack build "undefined" error"
Terser version: 4.1.3
webpack: 4.30.0
terser-webpack-plugin: 1.4.1

The update to terser 4.1.3 causes an undefined error from source code. 4.1.2 works fine.

Rather hard to debug what is causing this issue. Code base is rather large.
Should this issue be more like part of the terser-webpack-plugin?

[2019-08-06 14:37] xdumaine commented on #416
We got this error as well. Had a hell of a time tracking down what was causing it and no idea how I'd get a simple reproduce. Pinning back terser fixed it (but pinning terser-webpack-plugin did not)

[2019-08-06 16:55] Kagetsume commented on #416
Hit the same thing this morning.   Lost 6 hours debugging it and isolating it to Terser 4.1.3.   Locking terser to to 4.1.2 fixed the problem.

[2019-08-06 17:44] SetTrend commented on #410
Thanks for reopening, @fabiosantoscode .

Please pardon me for nit-picking, but due to the **little-endian** encoding of your hexdump ...

[code]
was output by your tool in word notation as:

[code]

So, your `unhexlify` command correctly should have read: `unhexlify('c3a43b0a')`.

[2019-08-06 17:51] SetTrend commented on #410
@evilebottnawi,

I just noticed that the `ascii_only` option is not supported by [webpack-contrib/terser-webpack-plugin](/webpack-contrib/terser-webpack-plugin).

[2019-08-06 18:33] tyscorp commented on #416
I have the same issue. Was unable to narrow it down because the bundle is so huge and the error is not useful for debugging.

[2019-08-07 01:26] L2jLiga commented on #416
It seems like caused by #363. I'm working on quite big Angular application and Terser works fine for me.

[2019-08-07 01:28] L2jLiga commented on #416
PR contains 2 commit. Could you check which one breaks your build?

[2019-08-07 04:10] benny0642 opened #417 "ERROR: Cannot read property '_walk' of null"
**Bug report**
It works fine at version 4.1.2, but got bug at 4.1.3.

**Version: 4.1.3**

**Complete CLI command or `minify()` options used**
`node_modules/.bin/terser javascript/test.js --config-file=terser.config.json -o javascript/test_compressed.js`

**`terser` input**

test.js:

[code]

terser.config.json:
[code]

**`terser` output or error**

[code]

I do not get test_compressed.js

**Expect

[2019-08-07 04:14] benny0642 commented on #417
If I use inline:2, it works at 4.1.3. So I guess this issue could be realted to #120

[2019-08-07 09:24] sunpietro commented on #223
Has it been solved already?

[2019-08-07 21:53] tyscorp commented on #416
@L2jLiga Adding this line back in fixed the issue for me: https://github.com/terser-js/terser/pull/363/commits/3b46b0bbc62edc035102f34d83f90fe6a57884b5#diff-29faf045645d2e76723b44f65c35dbe7L6073

[2019-08-07 22:19] tyscorp commented on #416
Adding this line back in fixes the issue for me: https://github.com/terser-js/terser/pull/363/commits/3b46b0bbc62edc035102f34d83f90fe6a57884b5#diff-29faf045645d2e76723b44f65c35dbe7L6073

[2019-08-08 02:02] L2jLiga commented on #416
@tyscorp, thank you for investigating

[2019-08-08 02:05] L2jLiga commented on #416
I guess this issue is pretty similar to #417. At least #417 was introduced by eb46b0b

[2019-08-08 08:41] fabiosantoscode commented on #407
I'm also surprised this hasn't caused bigger issues.

Well, I can't see a way of fixing this without nerfing function inlining somewhat :/ but hey, here we go :)

[2019-08-08 08:43] fabiosantoscode commented on #406
I've narrowed this down a bit.

It's only happening when `unused`, `reduce_funcs`, `reduce_vars` and `sequences` are all true. If any of these is set to false, the error does not happen.

[2019-08-08 09:19] fabiosantoscode commented on #416
I am finding this really hard to reproduce without any code.

A good way to reproduce these kinds of issues is with a divide and conquer approach. Can you try modifying your input file such that you're not importing half your project see if that passes, repeat?

Also, what exactly is the error message and stack you can see? Can you enable npmjs.com/source-map-support or use the Terser CLI directly

[2019-08-08 09:23] fabiosantoscode commented on #416
I also had a look at the compress code and couldn't find anything which might throw an actual `undefined`.

@evilebottnawi do you know if it is possible that terser-webpack-plugin might throw an undefined in the case of an unknown type of crash? One where a regular error object is thrown, or a string is thrown. I had a look myself but couldn't find any of it.

[2019-08-08 09:48] evilebottnawi commented on #416
@fabiosantoscode

Should be not, but will be great if somebody provide minimum reproducible test repo with problem

[2019-08-08 17:49] ekarlsso commented on #416
I have seen this in one code base but it is pretty big. It is rather big thing to isolate the issue from it. So sorry, can't do it.

[2019-08-08 18:46] fabiosantoscode commented on #416
@ekarlsso can you try to do a build without Terser, then run Terser on its result? Or provide the error you're getting? It must be more than the word "undefined".

[2019-08-09 13:54] cristian-sima commented on #416
Same here

![image](https://user-images.githubusercontent.com/12199042/62784101-5db5d780-bac6-11e9-9287-b283c135f8cf.png)

[2019-08-09 13:56] evilebottnawi commented on #416
@cristian-sima stop write `Sam here`, it is not help, please provide configuration or minimum reproducible test repo, we don't know you configuration

[2019-08-09 14:01] cristian-sima commented on #416
@evilebottnawi here is the configuration
[code]

the `script/dist.js` is this

[code]

the command `npm run dist` causes the problem. (**** - means there is private data there)

[2019-08-09 14:03] cristian-sima commented on #416
The `webpack.config.js` is

[code]

[2019-08-09 17:59] cristian-sima commented on #416
I've upgraded to node `10.16.2` and the error is still there

I've upgraded all the packages, and is the same error:

[code]

[2019-08-09 18:04] fabiosantoscode commented on #416
Could you please try to produce a build without minification and then run terser path/to/bundle.js -mc so we can see a real stack trace?

[2019-08-09 18:06] fabiosantoscode commented on #416
I'm pretty sure Terser only throws error objects.

[2019-08-09 18:42] cristian-sima commented on #416
@fabiosantoscode I run `webpack --mode development --progress` which generates a lot of files:
![image](https://user-images.githubusercontent.com/12199042/62801440-691cf900-baee-11e9-8a32-e3d10c54469a.png)

![image](https://user-images.githubusercontent.com/12199042/62801489-86ea5e00-baee-11e9-96f2-e7deeb6c4dee.png)

for which file show I run terser?

[2019-08-09 18:51] fabiosantoscode commented on #416
Thanks for having a look Cristian. In this case you can use a wildcard, like `path/to/*.js` to match all the chunks.

[2019-08-09 19:01] cristian-sima commented on #416
@fabiosantoscode
![image](https://user-images.githubusercontent.com/12199042/62802719-3e806f80-baf1-11e9-999d-b09de2696a92.png)

[2019-08-09 19:58] fabiosantoscode commented on #416
It's probably failing like that because it's trying to minify a payload that's too big. Interesting.

I'm not sure how you accomplish this on windows, but can you minify each file with its own Terser process?

Looks like a command called forfiles can be used.

https://ss64.com/nt/forfiles.html

`FORFILES /p path/to/js/directory /m *.js /c "terser @file -mc"`

But I'm not good at windows at all.

[2019-08-09 21:21] tyscorp commented on #416
I ran terser manually on the problem bundle and got the same error as #417

[code]

[2019-08-09 21:28] fabiosantoscode commented on #416
Thanks @tyscorp! Do you still get this error with `inline=false` in the compress options?

[2019-08-09 21:34] tyscorp commented on #416
No error if I use `-m -c inline=false` or `-m -c reduce_vars=false`

[2019-08-09 21:35] fabiosantoscode commented on #417
Slightly reduced test case:

[code]

[2019-08-09 22:03] tyscorp commented on #417
[code]

[2019-08-10 10:44] cristian-sima commented on #416
@fabiosantoscode @tyscorp Finally it shows a problem

![image](https://user-images.githubusercontent.com/12199042/62820952-f3a83b80-bb74-11e9-8a41-0837f15cef5b.png)

[2019-08-10 10:49] cristian-sima commented on #416
@fabiosantoscode In case I use this `-m -c inline=false` in the command, I got this

![image](https://user-images.githubusercontent.com/12199042/62820995-b5f7e280-bb75-11e9-8907-48a237643284.png)

[2019-08-10 10:51] fabiosantoscode commented on #416
Make sure the argument order is correct :) The order of the arguments of Terser is a bit unintuitive atm and will be changed.

[2019-08-10 10:53] cristian-sima commented on #416
@fabiosantoscode stay here. I test it now

[2019-08-10 10:54] cristian-sima commented on #416
@fabiosantoscode :( my customer is waiting for new updates on the production and I am stopped by this for more than a week

[2019-08-10 10:55] cristian-sima commented on #416
### No errors for using `-m -c inline=false"

![image](https://user-images.githubusercontent.com/12199042/62821034-8a292c80-bb76-11e9-8c22-53dc3e31dfd6.png)

[2019-08-10 10:56] fabiosantoscode commented on #416
Correct, that's a valid workaround.

[2019-08-10 10:56] cristian-sima commented on #416
How can I pass it to webpack in production?

[2019-08-10 10:57] cristian-sima commented on #416
`webpack --verbose --mode production --progress -p`

[2019-08-10 10:57] fabiosantoscode commented on #416
I'm not sure how to configure this in webpack.config.js, I'm never up to date with how that bundler works :)

[2019-08-10 11:01] cristian-sima commented on #416
I got it. For those with the same problem it is here `https://webpack.js.org/configuration/optimization/`

Does the `inline:false` affects in any way my code?

[code]

[2019-08-10 11:11] fabiosantoscode commented on #416
Options that don't have `unsafe_` in them aren't unsafe. You can safely disable individual options and the only thing that happens is a slight increase in code size.

[2019-08-10 11:19] cristian-sima commented on #416
@fabiosantoscode Finally it works. Thanks man

[2019-08-10 12:46] evilebottnawi commented on #416
@fabiosantoscode so it is bug on terser side, right?

[2019-08-10 12:47] fabiosantoscode commented on #416
Correct @evilebottnawi but it would be nice if the webpack plugin propagated the error a bit better. Just `undefined` got everyone including me confused.

[2019-08-10 12:49] evilebottnawi commented on #416
@fabiosantoscode good idea, can you create issue with repo/example how we can get error :smile: and will implement it very fast

[2019-08-10 12:49] fabiosantoscode commented on #416
@evilebottnawi Gotcha. But you have limited time, as I will be releasing a fix for this soon :)

[2019-08-10 19:29] #416 closed

[2019-08-11 08:04] fabiosantoscode commented on #417
Fixed in 4.1.4

[2019-08-11 09:19] fabiosantoscode commented on #416
Fixed in 1.4.1

[2019-08-11 09:35] nikolay-borzov opened #418 "Should not generate source map file if url=inline"
**Bug report or Feature request?**
Bug report

**Version (complete output of `terser -V` or specific git commit)**
terser 4.1.4

**Complete CLI command or `minify()` options used**
`terser bar.js -c --source-map "url=inline" -o bar.min.js`

**`terser` input**
bar.js
[code]

**`terser` output or error**
bar.min.js
[code]
bar.min.js.map
[code]

**Expected result**

`bar.min.js.map` should not be cre

[2019-08-12 20:45] fabiosantoscode commented on #418
Thanks! I haven't noticed this :)

[2019-08-13 08:13] L2jLiga commented on #417
@fabiosantoscode should this issue be closed?

[2019-08-13 17:29] fabiosantoscode commented on #417
Yes, thank you :)

[2019-08-13 17:29] #417 closed

[2019-08-13 17:33] fabiosantoscode commented on #406
It seems to be fixed for me, with 4.1.4. Can you check @juliancarrivick ?

[2019-08-13 17:54] fabiosantoscode commented on #399
I should've done this earlier, but I've taken this up with the V8 team.

https://bugs.chromium.org/p/v8/issues/detail?id=9618

I hope they fix it and we can continue relying on their RegExp representation. According to the spec we should see the escaped newline, not the real newline.

[2019-08-13 22:34] benny0642 commented on #417
terser@4.1.4 works for me. Thank you guys.

[2019-08-13 23:36] abirmingham commented on #406
I am having this issue as well. Using `terser@4.1.4`, `terser-webpack-plugin@1.4.1`, `webpack@4.28.3`, and `webpack-cli@3.2.1`.

Config looks like this:
[code]

[code]

[2019-08-14 01:27] LongTengDao opened #421 "breaking change question about v4.x"
What does this mean? (https://github.com/terser-js/terser/blame/master/CHANGELOG.md#L47)

I can't find any info about `variables` or `scope` in the options doc.

I'm upgrading my dependency from terser@3.16.1 to terser@4.1.4.

And, is there any other breaking changes (with 3.x) after 4.1?

Thank you!

[2019-08-14 08:15] #396 closed

[2019-08-14 08:19] fabiosantoscode commented on #421
Hello @LongTengDao, the breaking change is OK for most people using Terser, it's only a breaking change for anyone who is using the Terser AST (eg if you use `Terser.parse(code)` to retrieve a Terser AST and modify it using `Terser.TreeTransformer` or walk it using `Terser.TreeWalker`).

AST_Scope's `variables` property was changed to a standard ES Map.

There are no other breaking changes, otherw

[2019-08-14 08:19] #421 closed

[2019-08-14 08:30] fabiosantoscode commented on #410
@SetTrend terser-webpack-plugin supports all Terser options through its "terserOptions" object. It might be a bit confusing because Terser's options are separated into several objects, but they support it all :)

WRT the bug, thanks for letting me know about `hexdump`. I have to find a new hex tool :) I rarely do any binary stuff though.

Anyway, the command you specified produces a valid UTF-8 st

[2019-08-14 14:00] LongTengDao commented on #421
I see, thank you!

[2019-08-14 16:47] lazarljubenovic commented on #349
@jhpratt That said, it's still wrong to call it ES2018, as it's misleading. Stage 3 features are _probably_ safe to start using, but they are not standard yet.

[2019-08-14 17:44] davidlukerice opened #422 "Uncaught (in promise) TypeError: c is not a function"
**Bug report**
Ran into an issue building my app in create-react-app v3.1.0, which uses terser-webpack-plugin v1.4.1, which uses terser v4.1.4. Pinning terser back to v4.1.2 fixes the issue.
Original CRA bug ticket: https://github.com/facebook/create-react-app/issues/7535

**Version (complete output of `terser -V` or specific git commit)**
v4.1.4

**`terser` input**
The stripped down version is so

[2019-08-14 19:55] jhpratt commented on #349
@lazarljubenovic I never called it ES2018. All I said was that it had reached stage 3.

[2019-08-14 21:45] CodeElegant commented on #349
I called it ES2018. Sorry I wasn't more pedantic, I was in a hurry and I
have work to get done.

On Wed, Aug 14, 2019 at 3:55 PM Jacob Pratt <notifications@github.com>
wrote:

[2019-08-15 14:19] yanivfranco commented on #406
Yes! Help!

[2019-08-16 12:09] yanivfranco commented on #406
So..I'm not using terser...but still get the error when I try to buikd my server using webpack with -- mode = production. This is my webpack config:

`const path = require("path");
const CleanWebpackPlugin = require("clean-webpack-plugin");
const webpack = require("webpack");

const outputDirectory = "dist";

let plugins = [new webpack.NamedModulesPlugin(), new CleanWebpackPlugin([path.join(output

[2019-08-16 12:18] yanivfranco commented on #406
So..I'm not using terser...but still get the error when I try to buildmy server using webpack with -- mode  production. This is my webpack config:
[code]

And this is the error i get:
[code]

One more important thing is that the build passes on my local machine with Windows OS...but when I try to deploy on Ubuntu I get this error...
Any thoughts?

[2019-08-16 16:11] fabiosantoscode commented on #406
I find it unlikely that the node stack size is different for windows and linux.

It might be a different node version altogether. Are you on the latest Terser version?

Can you try to isolate the problematic code? I can't guess what code your project contains :)

[2019-08-16 16:17] fabiosantoscode commented on #422
Interesting.

When I try to rebuild the code from what you sent it works just fine:

[code]

`terser bug.js -mc | node`, where bug.js contains only the above code yields no errors.

[2019-08-16 16:19] fabiosantoscode commented on #405
You could modify `RegExp.prototype.test` to do anything you like, including side effects. I can't fix this without an unsafe option, and I don't think this warrants a new option.

thanks for the report!

[2019-08-16 16:19] #405 closed

[2019-08-16 16:21] #410 closed

[2019-08-16 16:55] #399 closed

[2019-08-16 16:56] fabiosantoscode commented on #399
I worked around this with a simple regex replace, since it will take another node version until this is fixed.

It should work fine with node 12.

[2019-08-16 17:23] richarddd commented on #416
I still have this issue, the only option is to set

[code]

Using:
"terser": "^4.1.4"
"terser-webpack-plugin": "^1.4.1",

[2019-08-16 18:21] RunDevelopment commented on #399
Nice! Thank you!

[2019-08-16 18:56] fabiosantoscode commented on #416
@richarddd please try to isolate the bug to a small single file code example and open an issue on terser-js/terser and I'll get to it.

You might have a completely different error, or indeed the very same error

[2019-08-16 19:19] davidlukerice commented on #422
My full build is  ~12k lines, but the related section is
[code]
if that's helpful. I'll see if I can get a smaller sample that creates the bug.

[2019-08-17 11:17] #397 closed

[2019-08-17 11:35] fabiosantoscode commented on #422
Could you try to send a piece of code without mangling (since this seems to be a mangle issue), one without `...` ? This will help a lot. I still can't reproduce the issue.

[2019-08-17 11:36] fabiosantoscode commented on #404
Has been fixed and as of 4.1.4 the bundle is now smaller. I'm sorry for the extra disk space that has been used.

[2019-08-17 11:36] #404 closed

[2019-08-17 11:41] fabiosantoscode commented on #268
Terser does not stop you from adding `let` if ecma is set to 5. I'm not happy to crash when people stick a few let and const into ECMA 5 code, since sometimes people aren't in full control of their input code.

The history for this is that I implemented `let` and `const` back in UglifyJS before there was an `ecma` option. But now that all this time has passed and people might be trusting this to b

[2019-08-17 14:34] #311 closed

[2019-08-17 18:35] davidlukerice commented on #422
Like the entire weback module?
[code]
with that original file being
[code]
The file alone seems to be minifying fine, so it may be having trouble with the file after it's gone through some of the create-react-app pipeline. Though I'm unfamiliar with what all it goes through. It's something like originalFile -> babel -> terser -> webpack?

@ianschmitz Do you know what all would be run before the co

[2019-08-17 23:33] joseprio opened #427 "New option to wrap function arguments"
Feature request

`OptimizeJS` is deprecated, and the `wrap_iife` option in Terser is a very valid replacement. However, `OptimizeJS` will also wrap functions that are passed as arguments under the assumption that they're likely to be called immediately. It would be nice to have an additional option in order to wrap those functions (i.e. `wrap_func_args`).

Happy to provide a PR.

[2019-08-18 11:03] L2jLiga opened #430 "Sequence ignored when it used in extends of unused class"
**Bug report or Feature request?**

Bug

**Version (complete output of `terser -V` or specific git commit)**

latest master

**Complete CLI command or `minify()` options used**

`npx terser issue.js -c --toplevel`

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

[code]

or

[code]

or

[code]

[2019-08-18 11:08] L2jLiga commented on #379
Simplified case:

*command*:

`terser issue.js -c`

*input*:

[code]

*output*:

[code]

[2019-08-18 12:24] fabiosantoscode commented on #430
Interesting corner case. Maybe this is a more general problem. Can you find more instances of sequences being ignored? Maybe sequences within AST_Export or AST_DefaultAssign?

[2019-08-18 12:25] fabiosantoscode commented on #430
Maybe inside AST_Expansion too

[2019-08-18 12:26] #418 closed

[2019-08-18 15:07] fabiosantoscode commented on #427
Could you please provide an example of what you want to happen exactly? I'm not sure I follow.

[2019-08-18 15:19] fabiosantoscode opened #431 "A number of optimizations have been removed while fixing #407"
**Bug report or Feature request?** Feature
**Version (complete output of `terser -V` or specific git commit)** master
**Complete CLI command or `minify()` options used** Anything using `inline`, `reduce_vars` + `reduce_funcs`

In the process of fixing the general case of #407, A number of tests have been removed since it's not possible to implement some optimizations anymore.

The purpose of this

[2019-08-18 15:29] joseprio commented on #427
@fabiosantoscode the Terser `wrap_iife` parameter and the OptimizeJS plugin appeared to optimize the parsing of JS files:
https://github.com/mishoo/UglifyJS2/issues/640

OptimizeJS adds an optimization that Terser currently doesn't have: it will wrap function arguments, so this:
[code]
Becomes this:
[code]
The assumption here is that most function arguments will be executed immediately in that fun

[2019-08-18 16:37] L2jLiga commented on #430
I'll try my best

[2019-08-18 17:46] fabiosantoscode commented on #407
Nerfing is indeed going to happen but I opened a new issue to try and minimize that.

[2019-08-19 06:58] richarddd opened #432 "Mongoose connect/disconnect causes Stack overflow errorr"
**Bug report**

This looks like some sort of stack overflow

**Version**
4.1.4

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**

[code]

This also fails with the same error
[code]

**`terser` output or error**
[code]
**Expected result**

[2019-08-19 07:10] richarddd commented on #416
I've nailed it down to this line with mongoose
`mongoose.Types.ObjectId.isValid(value)`

Please see this issue
https://github.com/terser-js/terser/issues/432

[2019-08-19 09:52] fabiosantoscode commented on #427
This is very interesting. Thanks for bringing this up.

I'm a bit skeptical that functions passed to other functions are invoked immediately though, node-style callbacks and promises are not called immediately. Although most other functions are.

I'm actually happy to remove the options that turn `(function(){})()` into `!function(){}()`, since besides negating the output it seems to make parsing

[2019-08-19 11:11] fabiosantoscode commented on #432
Perfect report, thanks!

I'll have a look today :)

[2019-08-19 12:44] fabiosantoscode commented on #422
I'm not sure what the pipeline looks like in create-react-app but I can have a look. However there are more pressing bugs atm, and I can reproduce them so I'll focus on those.

[2019-08-19 13:01] fabiosantoscode commented on #432
@richarddd I can't reproduce this with Terser alone, so I made a repository for reproducing bugs with webpack involved.

https://github.com/fabiosantoscode/bugpack

Could you send a PR with a webpack configuration that makes this fail?

[2019-08-19 14:32] joseprio commented on #427
I was certain that wrapping-function heuristic had a benefit, but I certainly didn't know how much would it be, so I decided to adapt a benchmark from OptimizeJS.
I ran Terser with the following options:
- No options (default compress and mangle)
- `negate_iife` + `wrap_iife`
- `negate_iife` + OptimizeJS (in theory this should be exactly as `wrap_iife` and wrapping the function arguments)

Firefox

[2019-08-19 15:05] fabiosantoscode commented on #427
Interesting results. Have you disabled `negate_iife` as well in the terser and terser+opt results?

[2019-08-19 15:07] joseprio commented on #427
`negate_iife` is only enabled in the vanilla `Terser` results; I will re-run the benchmarks with it disabled.

[2019-08-19 15:25] joseprio commented on #427
The results in Chrome 76:

| Library | Negate IIFE | w/o Negate IIFE  |
| ------- | ------ | ------------ |
| Create React App | 14.57 | 14.83 |
| Immutable | 3.61 | 3.45 |
| jQuery | 8.19 | 7.52 |
| Lodash | 7.7 | 7.42 |
| PouchDB | 6.84 | 6.9 |
| Three | 18.94 | 19.08 |

[2019-08-19 15:49] fabiosantoscode commented on #427
Looks like `negate_iife` is irrelevant here then.

[2019-08-19 15:57] richarddd commented on #432
@fabiosantoscode Will do! I'm also running typescript compiled to js with babel7 so that might affect things as well. Will do a PR first thing tomorrow at work :)

[2019-08-19 16:42] fabiosantoscode commented on #427
Please send a PR with your commits :) it would be cool to enable this option by default actually, so if it doesn't break too many tests please do do that. That would mean a lot of websites could immediately benefit from this change.

Thanks a lot for bringing this up!

[2019-08-19 21:17] joseprio commented on #427
@fabiosantoscode surprisingly, no tests break when I made `wrap_func_args` enabled by default.

About enabling it by default, I see two potential problems:
- @nolanlawson [benchmarks for Safari](https://github.com/nolanlawson/optimize-js) show a performance hit (-1.04%); Safari makes up 15% of the web browser market share thanks to iPhone
- The output uses a few more bytes; it certainly would prov

[2019-08-19 21:22] joseprio commented on #427
Created PR: https://github.com/terser-js/terser/pull/433

[2019-08-20 06:42] richarddd commented on #432
@fabiosantoscode here you go: 👍
https://github.com/fabiosantoscode/bugpack/pull/1

[2019-08-20 20:07] stevenao commented on #406
same problem, but 4.1.2 works. What has changed between 4.1.2 and 4.1.3? There is a code sample provided that can be used to debug the code change in 4.1.3 that is causing it.

FYI, 4.1.3, 4.1.4 and 4.2.0 all are giving errors.

[2019-08-21 05:33] juliancarrivick commented on #406
@fabiosantoscode sorry, meant to get to this on Friday. I just tried on 4.1.4 and 4.2.0 and it's still not working for me.
I get a different stack trace now though (4.2.0)
[code]

[2019-08-21 12:20] sonic-interlock opened #434 "License comment between return and inlined function"
**Bug report**
**terser 4.1.3**

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**
[code]
**`terser` output or error**
Here the comment is between return statement and the inlined isDocumentRoot function
[code]
**Expected result**
for instance,
[code]

Initially I faced this problem when tried to include [incremental dom](https://github.com/google/incremental-dom) libr

[2019-08-21 12:59] fabiosantoscode commented on #434
When a function is moved, comments are moved along with it. That's what makes the most sense for regular comments. Wrt license comments they shouldn't be moved, as they should usually be placed above all code.

I suppose we can move @license and @lic comments at the top of the code file to a special place and keep them there. But you have to place them at the real top of the file, not within an II

[2019-08-21 18:58] Martii commented on #434
@fabiosantoscode

Not sure if this is applicable, or what you are proposing for sure, but with some licenses, such as GPL, one can embed MIT into the middle of the module and those would need to keep the comment license below any starting code. I also included  a brief code reference with snippet to parse the UserScript metadata block e.g. *(uncompressed and ideal best, recommended, practices)*:

[2019-08-21 22:43] alexpopovme opened #436 "Prepend is lost"
**Bug report or Feature request?**
Bug

**Version (complete output of `terser -V` or specific git commit)**
terser 4.2.0

**Complete CLI command or `minify()` options used**

`npx terser test.prepend.js -c -m --mangle-props=keep_quoted -o test.min.js`

**`terser` input**

[code]

**`terser` output**

[code]

**Expected result**

[code]
Prepend is lost

[2019-08-22 00:21] SetTrend commented on #410
@fabiosantoscode:

Oh oh, it seems we're talking at cross purposes here.

Let me put it in some other, perhaps more specific words:

The fact that Terser converts a valid 8-Bit glyph into a UTF-8 character is the bug. The bug is _not_, however, that the converted character is a valid UTF-8 character in the end. The bug is that strings are converted at all.

Terser may not change any content of str

[2019-08-22 08:42] sonic-interlock commented on #434
Not really good, since I don't have control over that library :)
Also, when webpack or another bundler creates a bundle, each module with its comments is usually placed within a function. I guess, similar error might happen with many other libraries

[2019-08-22 10:20] #407 closed

[2019-08-22 10:24] fabiosantoscode commented on #436
Thanks!

If you notice any other native browser props being lost to --mangle-props, do edit `tools/domprops.js` and send a PR ;)

[2019-08-22 10:25] fabiosantoscode commented on #436
Closed in https://github.com/terser-js/terser/commit/34ac82692ff7d335b6177ed7724e4db5fc8623f9

[2019-08-22 10:25] #436 closed

[2019-08-22 10:39] fabiosantoscode commented on #434
I see the problem with moving comments now.

This is kind of a complicated matter, in terms of catering to everyone's use cases.

There's also the matter of inlining/destroying functions which are the logical embodiment of the embedded library. There should be a way of saying "when this comment is found, the variable or function is not to be moved".

Additionally this is probably off-topic, but if

[2019-08-22 15:36] jessecrossen opened #437 "Minification of unicode escape sequences creates an offset in source maps"
**Bug report or Feature request?**

Bug report.

**Version (complete output of `terser -V` or specific git commit)**

[code]

**Complete CLI command or `minify()` options used**

[code]

**`terser` input**

[code]

**`terser` output or error**

`index.min.js`
[code]

`index.min.js.map`
[code]

**Expected result**

The bug is that any lines in the source map after the unicode escape sequence are of

[2019-08-22 15:50] Martii commented on #434
That sounds interesting much like the linters have a disabling between point A and point B. If you do end up with this feature you may want to consider "terser" like prefixing it in case there ever is or will be *(i.e. future proof it)* a conflict with those packages. I just got finished [asking ESLint this](https://github.com/eslint/eslint/issues/12128) and there might be other "hidden gems" *(ke

[2019-08-22 17:10] wsteidley commented on #422
@fabiosantoscode I had the same issue with this version and the `rx` npm module (v4.1.0). After bundling I get the same kind of errors from the `rx` module

[2019-08-22 17:50] bdkjones opened #438 "Modify Default --Comments Value"
**Bug report or Feature request?**
Feature Request

**Version**
4.2.0

**Request**

If I pass `--comments` to the CLI, the current behavior is to keep any comment that has `@license`, `@preserve` and so forth.

I propose this this default be expanded to also keep any comment that begins with `/*!`

This comment delimiter has become a bit of an unofficial standard across many languages—if there’s a

[2019-08-23 10:00] fabiosantoscode commented on #438
Very interesting! Yes, this makes total sense. Want to send a PR? :)

[2019-08-23 10:05] fabiosantoscode commented on #437
Pesky unicode errors. There's something that assumes the length of the string stays the same, that's what!

I would appreciate a PR indeed :)

[2019-08-23 15:32] Vednus commented on #432
This fix doesn't seem to fix the issue. Still outputting `undefined` if importing mongoose.

[2019-08-23 18:48] jessecrossen commented on #437
After trying to write a failing test for this, it seems it's not actually an error.  I was getting the column count in the final file by looking at it in Visual Studio code, which apparently counts a single Chinese character as taking up two columns instead of one. In case it's of any interest, here's the (passing) test code I added to `sourcemaps.js`, and the column to look up comes out as 120 in

[2019-08-23 18:48] #437 closed

[2019-08-24 10:12] fabiosantoscode commented on #432
@Vednus I got the wrong issue number in the commit. The fix for this is coming real soon.

[2019-08-24 10:29] #432 closed

[2019-08-24 10:44] fabiosantoscode commented on #406
I've fixed a similar issue (#432) in 4.2.1, give it a try as it's probably the same bug. But without a reproduction I can't drill down into the issue and find the problem.

@juliancarrivick you have this issue with different code I suppose? I can't reproduce the issue with the code you have given me (plus the toplevel option), which is now part of the test suite and hasn't failed since the bug has

[2019-08-24 10:45] fabiosantoscode commented on #432
Fixed in 4.2.1

[2019-08-24 10:59] fabiosantoscode commented on #422
@wsteidley can you please send a PR with a minimal reproduction to fabiosantoscode/bugpack if you're using webpack?

[2019-08-24 11:09] fabiosantoscode commented on #437
Thank you very much for looking into this!

Nice test btw *yoink*

[2019-08-24 13:18] richarddd commented on #432
Awesome! Great work (and what speed!!!)

[2019-08-26 05:13] richarddd commented on #432
@fabiosantoscode Just tested now and I can reproduce the exact same bug when using the latest version.

Check the PR:
https://github.com/fabiosantoscode/bugpack/pull/2

[2019-08-26 05:31] Vednus commented on #432
Works for me after the update to the newest version of terser

[2019-08-26 05:46] Martii commented on #406
@fabiosantoscode

:+1:

Refs:
[code]

[code]

[2019-08-27 14:21] fabiosantoscode commented on #438
@bdkjones I see that terser-webpack-plugin does this by default, but only for comments starting with `/**!`. I feel this would be a better default.

[2019-08-28 06:14] pynnl opened #439 "Arrow function with no arguments to single unused argument"
**Bug report or Feature request?**
Feature request

**`terser` input**
[code]

**`terser` output or error**
[code]
P/S: I'm not sure if there's any downsides, please correct me.

[2019-08-28 14:55] fabiosantoscode commented on #439
The problem with this is that it changes the function's `length` property. Also the gain is very low.

So this kind of change shouldn't go in.

[2019-08-28 14:55] #439 closed

[2019-08-28 14:57] fabiosantoscode commented on #438
I agree with this default behaviour! So ignore every `/` or `*` character and the first character that's not one of those, if it's a bang (`!`) marks a comment that's not to be dropped.

[2019-08-29 18:54] #278 closed

[2019-08-30 15:50] smcmurray commented on #247
Just hit this with a let getting conflated with a const of a sub scope. The two are munged together in an inlined function call that isn't proper.

[2019-08-30 17:49] fabiosantoscode commented on #247
const and let should be the same here, correct. I'll have a look at this this weekend or next week.

[2019-08-31 01:12] frederikhors opened #443 "A little bug trying to use a function before creation"
From this https://github.com/sveltejs/svelte/issues/3483 we can think about a bug in terser.

As @Conduitry said here https://github.com/sveltejs/svelte/issues/3483#issuecomment-526782678 with this code:

[code]

I can have:

[code]

which is obviously wrong.

Why?

[2019-08-31 01:54] Conduitry commented on #443
Well I wasn't going to open an issue until a had a small, concrete reproduction. But I'll try to come up with one soon.

[2019-08-31 10:25] M4rk9696 commented on #227
It seems to be the name. `Event` is treated as a reserved keyword

https://github.com/terser/terser/blob/a1d132eebbe83c9cd2f1835a0182a0f5205a0d6e/tools/domprops.js#L747

@fabiosantoscode Maybe an `option.dom` to specify whether the code will use the DOM, and if not mangle those?

[2019-08-31 12:24] bpasero commented on #335
This still reproduces with Terser `4.1.4`.

[2019-08-31 23:31] fabiosantoscode commented on #335
Probably with the latest version too. I'll see what I can do this week.

[2019-08-31 23:36] fabiosantoscode commented on #443
If you can come up with a minimal reproduction we can work on it. If not we can use the big reproduction in the original issue.

I'm thinking of writing a tool that removes code incrementally, for trying to come up with minimal reproductions.

[2019-09-02 10:42] bpasero commented on #335
Thanks, I just recently [replaced](https://github.com/microsoft/vscode/commit/c7d4c3ce1be78fecd013cfa22a711e014a78dc8c) `uglify-es` with latest `terser` for VSCode and it would be great to get that fix in eventually 👍

[2019-09-03 07:04] wahikihiki commented on #443
We have a function that returns a global variable and we use it to initialize a local variable with the same name:
[code]
After inlining `get_foo`:
[code]

[2019-09-03 12:58] aeschli opened #445 "assignment in switch statement corrupts program"
Terser 4.2.1

- `git clone https://github.com/aeschli/sample-terser-bug`
- `cd sample-terser-bug`, `npm i`, `npm test`

- compiles a sample module
- created a minified variant (see https://github.com/aeschli/sample-terser-bug/blob/662548260936142a48e9c0d2ad65e69001bb296d/package.json#L10)
- Runs a test against both the original ([json.js](https://github.com/aeschli/sample-terser-bug/blob/master/js

[2019-09-03 13:09] aeschli commented on #445
What also fixes the issue is to avoid the re-declaration of `ch` at https://github.com/aeschli/sample-terser-bug/blob/662548260936142a48e9c0d2ad65e69001bb296d/json.js#L143
renaming `ch` to `ch2` .

[2019-09-03 15:36] heavyk opened #446 "unnecessary variable renames in object destructuring"
**Bug report or Feature request?**

Increases code size. feature request.

**Version (complete output of `terser -V` or specific git commit)**

4.2.1

**`terser` input**

[code]

**`terser` output or error**

[code]

**Expected result**

[code]

...so then, I tried the same thing with `pure_getters` and pretty much everything enabled and I got this:

[code]

[2019-09-03 17:57] fabiosantoscode commented on #446
Two reports for the price of one :)

Thank you very much!

I'll have a look at this this week.

[2019-09-03 20:30] heavyk commented on #446
there's actually a bug in my code... seems I was thinking js destructuring worked like elixir's pattern matching... what I intended was for `G` to be the argument and then the destructuring. the '=G' bit is bad code (even though it's not a js syntax error (in v8 at least)).

anyway, if I actually do it properly, with a let:
[code]

the code is still does the weird renaming thing though...
[code]
I

[2019-09-04 08:25] aeschli opened #447 "smoke remote: multi root test fails. No search results"
Ubuntu 18.04 LTS

- `yarn smoketest --remote --build /home/aeschli/vscode/1.38.0-insider-3db7e09f3b/VSCode-linux-x64/

Multi root test fails, no search result found

![image](https://user-images.githubusercontent.com/6461412/64238197-3d7b0c00-cefe-11e9-9f4b-18cf644fea53.png)

Same when running against source or on Windows.

[2019-09-04 08:26] #447 closed

[2019-09-04 08:26] aeschli commented on #447
sorry, wrong repo, please delete.

[2019-09-04 11:59] fabiosantoscode commented on #446
Moving the destructure into the arguments is another set of optimizations which would be nice to have, but a bit tricky to do. I'm not sure we want to tackle that before all the outstanding bugs have been fixed and people don't find new ones for a while.

It's a nice optimization and one that I haven't thought about before actually.

[2019-09-04 12:02] fabiosantoscode commented on #445
Hey there!

Thank you for your report. Could you try to come up with a minimal reproduction of the bug? A whole repository is a bit big to find bugs inside, and it's probably possible to reproduce this in a minimal way.

[2019-09-04 12:46] developerSupreme opened #448 "Error in command: afk.js TypeError: Cannot read property 'name' of undefined [discord.js]"
[code]
---

**Error in command: afk.js TypeError: Cannot read property 'name' of undefined
at cmdFiles.forEach.file (/app/index.js:48:28)
    at Array.forEach (<anonymous>)
at load (/app/index.js:43:10)
    at <anonymous>**

How can I fix it?

[2019-09-04 14:00] fabiosantoscode commented on #448
Please follow the issue template by providing the required information, and post a minimal issue which can be reproduced directly with Terser. I tried minifying the file you provide with the default options and the output does export the help object with a name inside.

[code]

[2019-09-04 14:00] #448 closed

[2019-09-04 15:34] aeschli commented on #445
I tried, but it's very difficult as any change (e.g. simplification) resulted in a different result on the minifier.

I suspect it has to do with the variable shadowing. const `ch` is is defined in an outer and an inner scope. https://github.com/terser/terser/issues/335 is a similar issue.

[2019-09-04 22:37] fabiosantoscode commented on #445
This is probably unrelated to that issue since you can only reproduce that with a catch block specifically, which has a tricky implementation due to historical reasons (old Uglify code is var-centric and the catch block binding is the only block scoped variable in oldjs, and to make that trickier there's a nasty IE8 bug which changes scoping rules for that binding)

If simple shadowed variables we

[2019-09-05 14:29] #335 closed

[2019-09-05 14:30] fabiosantoscode commented on #335
Very subtle bug, as it revealed a slight problem in the AST design.

[2019-09-05 14:33] fabiosantoscode commented on #318
I can't reproduce this anymore today.

[2019-09-05 14:37] fabiosantoscode commented on #249
I can't reproduce this anymore as of 4.2.1, as long as I set the `module` option to true. Please confirm.

I suppose it's been fixed while fixing something else.

[2019-09-05 14:37] #249 closed

[2019-09-05 14:39] fabiosantoscode commented on #249
@TheLarkInn everyone is welcome to contribute. These days I've been adding the "good first PR" label to some easy issues to help out new contributors. However, I'm afraid that's not enough, as not many people are stepping up to do it.

This is why I assume I'll be fixing things when I comment on issues, even though sometimes I give hints to someone who might want to fix the problem.

[2019-09-05 14:42] fabiosantoscode commented on #218
Fixed when implementing this ES proposal: https://github.com/tc39/proposal-json-superset

[2019-09-05 14:42] #218 closed

[2019-09-05 14:56] bpasero commented on #335
Oh great, thanks for fixing it.

[2019-09-05 15:04] fabiosantoscode commented on #247
Hello there!

I tried to reproduce this but couldn't. Can you try to create an isolated example which can reproduce this using only Terser? This is the best way to help out, it's with minimal examples that can be executed with a simple `node file.js` or browser equivalent, and where the bug is apparent when executing `terser file.js [opts] | node`. A script that calls minify() is also cool.

Most

[2019-09-05 17:12] #348 closed

[2019-09-05 17:13] fabiosantoscode commented on #348
Managed to close this by being a tad more conservative around variable redefinitions. Could've increased the complexity of the code somewhat but I don't feel it's necessary at all.

[2019-09-05 17:54] fabiosantoscode commented on #445
I've managed to remove most of the input code and create a single JS file which is executable and outputs either PASS or FAIL, which is what we use in most of our tests:

[code]

Eventually the purpose of creating the perfectly minimal reproduction of an error is to use that directly in the compress tests. However this is still a tad big, I'm thinking I can make this smaller still by ditching some

[2019-09-05 18:52] fabiosantoscode commented on #445
I got this further down. I think I'm ready to devise a fix.

[code]

[2019-09-06 00:12] heavyk commented on #446
yeah sounds good for moving the destructure into the args... someday if I find myself wanting to do something of this nature, I'll have a go at it.

the main issue is the unnecessary renames. I think that it's *always* trying to rename, even when the unmodified name is shorter than the rename. the rename costs a reassignment so it should only be done if there's a gain to be made.

[2019-09-06 15:05] #204 closed

[2019-09-06 18:03] fabiosantoscode commented on #443
Does minifying that code reproduce the issue or is it necessary to minify the stuff in the ... as well?

[2019-09-06 18:05] fabiosantoscode commented on #443
Does disabling one of the compress options fix the bug, and if so which one?

Trying to narrow down an issue can help us out a lot.

[2019-09-07 20:06] #445 closed

[2019-09-08 13:15] ptrace opened #449 "Mangeling and compressing in 4.3.0 is breaking code"
**Version (complete output of `terser -V` or specific git commit)**
[code]
**Complete CLI command or `minify()` options used**
[code]

**`terser` input**

[code]

In 4.2.1 the result was valid, in 4.3.0 the result is invalid, it outputs
[code]

Which beautifies to
[code]

Which is incorrect and triggers
[code]

On 4.2.1, it outputs correct code,

[code]

which beautifies to
[code]

Which is OK.

[2019-09-09 05:35] jacott commented on #449
I've tracked it down to commit c7cd7b754713380ddce7077ed9b6312522dac265 fix #335 by properly setting the catch-block's parent scope to be the parent scope of the try block, not the try block

[2019-09-09 05:52] jacott commented on #449
This is my example which is breaking

[code]

which is converted to

[code]

[2019-09-09 09:05] renamoo opened #451 "Version 4.3.0 cause the missing variable"
**Bug report**

**Version : 4.3.0**

I use terser through `ng-packagr`.
I'm not sure to which repository I should post it, so I will post it to both.
[Here](https://github.com/ng-packagr/ng-packagr/issues/1399) is the issue in `ng-packgr` .

## Description

_A bug:
I use ng-packgr to build my library made with Angular.
Suddenly my product uses the library start to throw an error: `mXSSAttempts is

[2019-09-09 10:23] webpack-bot opened #452 "minimize and production setting for ~ of iteration code ReferenceError"
# Bug report

**What is the current behavior?**
here is sample code.
[code]

here is config
[code]
ReferenceError: arr is not defined

seems like (try catch + for of) code is not working.

here is test repo
https://github.com/scarfunk/webpackbug-minimize

**If the current behavior is a bug, please provide the steps to reproduce.**

**What is the expected behavior?**

**Other relevant information:*

[2019-09-09 10:24] sokra commented on #452
raw terser minimizes:

[code]

to

[code]

Using `var` instead of `const` works fine. Also moving the declaration out of the try block.

[2019-09-09 11:08] scarfunk commented on #452
thanks for moving

[2019-09-09 12:22] jeetiss opened #453 "Bug: `evaluate` option duplicate big strings"
**Bug report or Feature request?**
Bug

**Version (complete output of `terser -V` or specific git commit)**
terser 4.2.1

**Complete CLI command or `minify()` options used**
default options

**`terser` input**

[code]

**`terser` output or error**
[code]

**Expected result**
[code]

[2019-09-09 14:04] #379 closed

[2019-09-09 14:04] #452 closed

[2019-09-09 14:05] fabiosantoscode commented on #452
Silly bug :/ I was fixing the catch scope and broke for loops inside try blocks.

[2019-09-09 14:05] fabiosantoscode commented on #452
Thank you for the report.

[2019-09-09 14:06] fabiosantoscode commented on #449
This has been fixed, internally it's the same bug as #452. Expect 4.3.1 in less than half an hour.

[2019-09-09 14:15] #449 closed

[2019-09-09 14:16] fabiosantoscode commented on #451
@renamoo please try again with 4.3.1

[2019-09-09 15:28] Petronious commented on #451
We have the same issue in an Angular 8.2.4 project without ng-packagr.

[2019-09-09 15:36] fabiosantoscode commented on #451
@Petronious Can you reproduce this with Terser 4.3.1?

[2019-09-09 15:37] #427 closed

[2019-09-09 16:57] xumepadismal commented on #451
@fabiosantoscode Have faced into the same issue in 4.3.0. Just upgraded to 4.3.1 and the error is gone. Thanks!

[2019-09-09 18:21] fabiosantoscode commented on #451
Cool, thanks!

[2019-09-09 18:22] #451 closed

[2019-09-10 00:26] fabiosantoscode commented on #453
This is a corner case, and only happens when the string is initially empty and because the operator is `+=` (I think).

In these kinds of weird situations, you should increase the `passes` of the compressor. `2` would get around what you're facing and possibly provide other small optimizations in your code too.

[2019-09-10 00:27] #453 closed

[2019-09-10 01:20] renamoo commented on #451
@fabiosantoscode Ver 4.3.1 works well in my project, too! Thank you for quick fixing!

[2019-09-10 07:28] Petronious commented on #451
@fabiosantoscode 4.3.1 works indeed. Didn't had to change anything in the end, as it was a transitive dependency of angular cli using ```~```

[2019-09-10 16:05] ericdrowell commented on #171
wow I had no idea there was a passes argument.  That's awesome.

[2019-09-11 07:50] damianobarbati commented on #181
@GevatterGaul I have the same problem, did you find the cause?

[2019-09-11 08:52] isiahmeadows commented on #350
Any news on this? It's a mild blocker for me. There's a few cases where I've explicitly split a closure into a separate function to force the engine to generate a smaller closure to save some memory (the closure is what's returned), and I can't ensure this remains the case without such an escape hatch.

[2019-09-11 09:33] SimmeNilsson opened #454 "Non-EcmaScript Multiline string using backslash corrupts source map"
**Bug report or Feature request?**

Bug

**Version (complete output of `terser -V` or specific git commit)**

4.3.1

**Complete CLI command or `minify()` options used**

compress: false
mangle: true

**`terser` input**

Multiline string constructed with the help of backslash.
**NOTE: I'm aware that this is not valid EcmaScript (although it seems to work in all relevant browsers), so I'm fine if th

[2019-09-11 13:34] darkwebdev opened #455 "`eval` calls not inlined"
**Bug report or Feature request?**

Code is super-sub-optimal, but correct (but useless, cause you don't need terser for it). So I think it's a bug.

**Version (complete output of `terser -V` or specific git commit)**
`terser 4.3.0`

**Complete CLI command or `minify()` options used**
[code]

**`terser` input**

[code]

**`terser` output or error**
[code]

**Expected result**
[code]